<header class="pageheader">
    <h3><i class="fa fa-home"></i> Widgets </h3>
    <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li> <a href="#"> Home </a> </li>
            <li class="active"> Widgets </li>
        </ol>
    </div>
</header>
<!--Page content-->
<!--===================================================-->
<div id="page-content">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xm-12">
            <!--Registered User-->
            <div class="panel media pad-all">
                <div class="media-left">
                    <span class="icon-wrap icon-wrap-sm icon-circle bg-success">
                                        <i class="fa fa-user fa-2x"></i>
                                        </span>
                </div>
                <div class="media-body">
                    <p class="text-2x mar-no text-thin text-right">241</p>
                    <p class="h5 mar-no text-right">Registered User</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xm-12">
            <!--New Order-->
            <div class="panel media pad-all">
                <div class="media-left">
                    <span class="icon-wrap icon-wrap-sm icon-circle bg-info">
                                        <i class="fa fa-shopping-cart fa-2x"></i>
                                        </span>
                </div>
                <div class="media-body">
                    <p class="text-2x mar-no text-thin text-right">543</p>
                    <p class="h5 mar-no text-right">New Order</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xm-12">
            <!--Comments-->
            <div class="panel media pad-all">
                <div class="media-left">
                    <span class="icon-wrap icon-wrap-sm icon-circle bg-warning">
                                        <i class="fa fa-comment fa-2x"></i>
                                        </span>
                </div>
                <div class="media-body">
                    <p class="text-2x mar-no text-thin text-right">34</p>
                    <p class="h5 mar-no text-right">Comments</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xm-12">
            <!--Sales-->
            <div class="panel media pad-all">
                <div class="media-left">
                    <span class="icon-wrap icon-wrap-sm icon-circle bg-danger">
                                        <i class="fa fa-dollar fa-2x"></i>
                                        </span>
                </div>
                <div class="media-body">
                    <p class="text-2x mar-no text-thin text-right">654</p>
                    <p class="h5 mar-no text-right">Sales</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-sm-6 col-md-6 col-xs-12">
            <div class="widgetbox widgetbox-default widgetbox-item-icon">
                <div class="widgetbox-item-left widgetbox-icon-danger"> <span class="fa fa-shopping-cart"></span> </div>
                <div class="widgetbox-data">
                    <div class="widgetbox-int"> 425 </div>
                    <div class="widgetbox-title"> Total Orders </div>
                    <div class="widgetbox-subtitle"> From our website and app </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-md-6 col-xs-12">
            <div class="widgetbox widgetbox-default widgetbox-item-icon">
                <div class="widgetbox-item-right widgetbox-icon-warning"> <span class="fa fa-envelope"></span> </div>
                <div class="widgetbox-data-left">
                    <div class="widgetbox-int"> 48 </div>
                    <div class="widgetbox-title"> New Message </div>
                    <div class="widgetbox-subtitle"> in your Mailbox </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-md-6 col-xs-12">
            <div class="widgetbox widgetbox-default widgetbox-item-icon">
                <div class="widgetbox-item-left widgetbox-icon-success"> <span class="fa fa-users"></span> </div>
                <div class="widgetbox-data">
                    <div class="widgetbox-int"> 599 </div>
                    <div class="widgetbox-title"> Registred users </div>
                    <div class="widgetbox-subtitle"> On our website and app </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-md-6 col-xs-12">
            <div class="widgetbox widgetbox-default widgetbox-item-icon">
                <div class="widgetbox-item-right widgetbox-icon-info"> <span class="fa fa-search"></span> </div>
                <div class="widgetbox-data-left">
                    <div class="widgetbox-int"> 65% </div>
                    <div class="widgetbox-title"> Search Traffic </div>
                    <div class="widgetbox-subtitle"> From Google </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel">
                <div class="panel-body text-center">
                    <ul class="list-inline nm">
                        <li class="left-easypiechart-data"> <span class="sell-percent">60%</span> <span>Direct Sell</span> </li>
                        <li>
                            <!--Easy Pie Chart-->
                            <!--===================================================-->
                            <div id="demo-pie-2" class="pie-title-center" data-percent="58"> <span class="pie-value text-thin"></span> </div>
                            <!--===================================================-->
                            <!-- End Easy Pie Chart -->
                        </li>
                        <li class="right-easypiechart-data"> <span class="sell-percent">40%</span> <span>Channel Sell</span> </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel">
                <div class="panel-body text-center">
                    <ul class="list-inline nm">
                        <li class="left-easypiechart-data"> <span class="sell-percent">60%</span> <span>Direct Sell</span> </li>
                        <li>
                            <!--Easy Pie Chart-->
                            <!--===================================================-->
                            <div id="demo-pie-3" class="pie-title-center" data-percent="35"> <span class="pie-value text-thin"></span> </div>
                            <!--===================================================-->
                            <!-- End Easy Pie Chart -->
                        </li>
                        <li class="right-easypiechart-data"> <span class="sell-percent">40%</span> <span>Channel Sell</span> </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel">
                <div class="panel-body text-center">
                    <ul class="list-inline nm">
                        <li class="left-easypiechart-data"> <span class="sell-percent">60%</span> <span>Direct Sell</span> </li>
                        <li>
                            <!--Easy Pie Chart-->
                            <!--===================================================-->
                            <div id="demo-pie-4" class="pie-title-center" data-percent="45"> <span class="pie-value text-thin"></span> </div>
                            <!--===================================================-->
                            <!-- End Easy Pie Chart -->
                        </li>
                        <li class="right-easypiechart-data"> <span class="sell-percent">40%</span> <span>Channel Sell</span> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-sm-6 col-md-6 col-xs-12">
            <div class="widgetbox widgetbox-default widgetbox-item-icon">
                <div class="widgetbox-item-right widgetbox-icon-info"> <span class="fa fa-line-chart"></span> </div>
                <div class="widgetbox-data-left">
                    <div class="widgetbox-int"> 45000 </div>
                    <p> Unique Visitor </p>
                </div>
                <div class="widgetbox-data-left">
                    <div class="widgetbox-subtitle">
                        <div class="progress-sm progress">
                            <div class="progress-bar progress-bar-primary" style="width: 55%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-md-6 col-xs-12">
            <div class="widgetbox widgetbox-default widgetbox-item-icon">
                <div class="widgetbox-item-right widgetbox-icon-warning"> <span class="fa fa-search"></span> </div>
                <div class="widgetbox-data-left">
                    <div class="widgetbox-int"> 65% </div>
                    <p> Search Traffic </p>
                </div>
                <div class="widgetbox-data-left">
                    <div class="widgetbox-subtitle">
                        <div class="progress-sm progress">
                            <div class="progress-bar progress-bar-danger" style="width: 55%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-md-6 col-xs-12">
            <div class="widgetbox widgetbox-default widgetbox-item-icon">
                <div class="widgetbox-item-right widgetbox-icon-danger"> <span class="fa fa-users"></span> </div>
                <div class="widgetbox-data-left">
                    <div class="widgetbox-int"> 13500 </div>
                    <p> Users </p>
                </div>
                <div class="widgetbox-data-left">
                    <div class="widgetbox-subtitle">
                        <div class="progress-sm progress">
                            <div class="progress-bar progress-bar-warning" style="width: 55%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-md-6 col-xs-12">
            <div class="widgetbox widgetbox-default widgetbox-item-icon">
                <div class="widgetbox-item-right widgetbox-icon-danger"> <span class="fa fa-shopping-cart"></span> </div>
                <div class="widgetbox-data-left">
                    <div class="widgetbox-int"> 1587 </div>
                    <p> Total Sales </p>
                </div>
                <div class="widgetbox-data-left">
                    <div class="widgetbox-subtitle">
                        <div class="progress-sm progress">
                            <div class="progress-bar progress-bar-success" style="width: 55%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-sm-6 col-md-6 col-xs-12">
            <div class="widgetbox widgetbox-primary widgetbox-item-icon">
                <div class="widgetbox-item-left"> <span class="fa fa-shopping-cart"></span> </div>
                <div class="widgetbox-data">
                    <div class="widgetbox-int"> 425 </div>
                    <div class="widgetbox-title"> Total Orders </div>
                    <div class="widgetbox-subtitle"> From our website and app </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-md-6 col-xs-12">
            <div class="widgetbox widgetbox-warning widgetbox-item-icon">
                <div class="widgetbox-item-right"> <span class="fa fa-envelope"></span> </div>
                <div class="widgetbox-data-left">
                    <div class="widgetbox-int"> 48 </div>
                    <div class="widgetbox-title"> New Message </div>
                    <div class="widgetbox-subtitle"> in your Mailbox </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-md-6 col-xs-12">
            <div class="widgetbox widgetbox-success widgetbox-item-icon">
                <div class="widgetbox-item-left"> <span class="fa fa-users"></span> </div>
                <div class="widgetbox-data">
                    <div class="widgetbox-int"> 599 </div>
                    <div class="widgetbox-title"> Registred users </div>
                    <div class="widgetbox-subtitle"> On our website and app </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-md-6 col-xs-12">
            <div class="widgetbox widgetbox-danger widgetbox-item-icon">
                <div class="widgetbox-item-right"> <span class="fa fa-search"></span> </div>
                <div class="widgetbox-data-left">
                    <div class="widgetbox-int"> 65% </div>
                    <div class="widgetbox-title"> Search Traffic </div>
                    <div class="widgetbox-subtitle"> From Google </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-sm-6 col-md-6 col-xs-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title"> Site Statistics </h3>
                </div>
                <div class="panel-body">
                    <!--Flot Line Chart placeholder-->
                    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                    <div id="demo-site-statistics" style="height:175px"></div>
                    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                </div>
                <div class="panel-footer">
                    <div class="text-bold"> <i class="fa fa-users"></i> New Visitors <span class="pull-right">50645</span> </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-md-6 col-xs-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title"> Order Statistics </h3>
                </div>
                <div class="panel-body">
                    <!--Flot Line Chart placeholder-->
                    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                    <div id="demo-order-statistics" style="height:175px"></div>
                    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                </div>
                <div class="panel-footer">
                    <div class="text-bold"> <i class="fa fa-shopping-cart"></i> New Orders <span class="pull-right">$60647</span> </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-md-6 col-xs-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title"> Site Statistics </h3>
                </div>
                <div class="panel-body">
                    <!--Flot Line Chart placeholder-->
                    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                    <div id="demo-sales-statistics" style="height:175px"></div>
                    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                </div>
                <div class="panel-footer">
                    <div class="text-bold"> <i class="fa fa-money"></i> Total Orders <span class="pull-right">$60647</span> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-sm-6 col-md-6 col-xs-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title"> Feedback Statistics </h3>
                </div>
                <div class="panel-body">
                    <!--Flot Line Chart placeholder-->
                    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                    <div id="demo-feedback-statistics" style="height:175px"></div>
                    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                </div>
                <div class="panel-footer">
                    <div class="text-bold"> <i class="fa fa-comments-o"></i> User Feedback <span class="pull-right">647</span> </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-md-6 col-xs-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title"> Site Statistics </h3>
                </div>
                <div class="panel-body">
                    <!--Flot Line Chart placeholder-->
                    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                    <div id="demo-earning-statistics" style="height:175px"></div>
                    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                </div>
                <div class="panel-footer">
                    <div class="text-bold"> <i class="fa fa-dollar"></i> Net earning <span class="pull-right">$50647</span> </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-md-6 col-xs-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title"> Site Statistics </h3>
                </div>
                <div class="panel-body">
                    <!--Flot Line Chart placeholder-->
                    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                    <div id="demo-performance-statistics" style="height:175px"></div>
                    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                </div>
                <div class="panel-footer">
                    <div class="bar-widget">
                        <div class="text-bold"> <i class="fa fa-database"></i> Server Status <span class="pull-right"> <i class="fa fa-circle text-success"></i> Good</span> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-sm-12 col-md-6 col-xs-12">
            <!--Profile Widget-->
            <!--===================================================-->
            <div class="panel widget">
                <div class="widget-header bg-purple">
                    <img class="widget-bg img-responsive" src="img/thumbs/img3.jpg" alt="Image">
                </div>
                <div class="widget-body text-center">
                    <img alt="Profile Picture" class="widget-img img-border-light" src="img/av4.png">
                    <h4 class="mar-no">Lucy Moon</h4>
                    <p class="text-muted mar-btm">Art Designer</p>
                </div>
                <ul class="menu-items">
                    <li>
                        <a href="javascript:void(0)" class="clearfix">
                            <i class="fa fa-bell-o fa-lg"></i> New notifications
                            <span class="label label-danger label-circle pull-right">82</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="clearfix">
                            <i class="fa fa-user fa-lg"></i> Edit profile
                            <span class="label label-success label-circle pull-right">13</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="clearfix">
                            <i class="fa fa-calendar fa-lg"></i> Calendar
                            <span class="label label-warning label-circle pull-right">12</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="clearfix">
                            <i class="fa fa-envelope fa-lg"></i> New message
                            <span class="label label-info label-circle pull-right">44</span>
                        </a>
                    </li>
                </ul>
                <!--===================================================-->
            </div>
        </div>
        <div class="col-lg-3 col-sm-12 col-md-6 col-xs-12">
            <!--Profile Widget-->
            <!--===================================================-->
            <div class="panel widget">
                <div class="widget-header bg-purple">
                    <img class="widget-bg img-responsive" src="img/thumbs/img3.jpg" alt="Image">
                </div>
                <div class="widget-body text-center">
                    <img alt="Profile Picture" class="widget-img img-border-light" src="img/av4.png">
                    <h4 class="mar-no">Lucy Moon</h4>
                    <p class="text-muted mar-btm">Art Designer</p>
                </div>
                <div class="panel-footer">
                    <ul class="nav nav-section nav-justified">
                        <li>
                            <div class="section">
                                <h4> 12.5k </h4>
                                <p class="text-muted">Followers</p>
                            </div>
                        </li>
                        <li>
                            <div class="section">
                                <h4> 1853 </h4>
                                <p class="text-muted">Following</p>
                            </div>
                        </li>
                        <li>
                            <div class="section">
                                <h4> 3451 </h4>
                                <p class="text-muted">Tweets</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--===================================================-->
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 col-md-6 col-xs-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title"> Quick Message </h3>
                </div>
                <div class="panel-body">
                    <!-- Multiple Select Choosen -->
                    <!--===================================================-->
                    <form class="form-horizontal form-bordered">
                        <div class="form-group nb">
                            <label class="control-label col-md-2">To: </label>
                            <div class="col-md-10">
                                <ul id="jquery-tagIt-white">
                                </ul>
                            </div>
                        </div>
                        <div class="form-group nb">
                            <label class="control-label col-md-2">Subject: </label>
                            <div class="col-md-10">
                                <input type="text" class="form-control ">
                            </div>
                        </div>
                        <!--Summernote-->
                        <!--===================================================-->
                        <div id="demo-summernote"></div>
                        <!--===================================================-->
                        <!-- End Summernote -->
                        <div class="pad-top">
                            <button class="btn btn-info"><i class="fa fa-send"></i> Send </button>
                            <button class="btn btn-default"><i class="fa fa-save"></i> Draft </button>
                            <button class="btn btn-default"><i class="fa fa-remove"></i> Discard </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-sm-12 col-md-6 col-xs-12">
            <div class="panel">
                <div class="panel-body np">
                    <!-- Marker -->
                    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                    <div id="demo-overlays-map" style="height:300px"></div>
                    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                    <div class="col-md-5 mar-ver">
                        <div class="pull-left">
                            <h4> Contact Us! </h4>
                        </div>
                    </div>
                    <div class="col-md-7 text-right mar-ver">
                        <h4 class="nm"> Line Studio </h4>
                        <small class="text-muted"><i class="fa fa-map-marker"></i> 86 Washington Sq, San Jose, CA 95192, United States </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-12 col-md-6 col-xs-12">
            <!--Profile Widget-->
            <!--===================================================-->
            <div class="panel text-center">
                <div class="panel-body bg-info">
                    <img alt="Avatar" class="img-lg img-circle img-border mar-btm" src="img/av5.png">
                    <h4 class="mar-no">Brenda Fuller</h4>
                    <p>Project manager</p>
                </div>
                <div class="panel-footer">
                    <ul class="nav nav-section nav-justified">
                        <li>
                            <div class="section">
                                <h4> 12.5k </h4>
                                <p class="text-muted">Followers</p>
                            </div>
                        </li>
                        <li>
                            <div class="section">
                                <h4> 1853 </h4>
                                <p class="text-muted">Following</p>
                            </div>
                        </li>
                        <li>
                            <div class="section">
                                <h4> 3451 </h4>
                                <p class="text-muted">Tweets</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!--===================================================-->
        </div>
        <div class="col-md-6 col-lg-3">
            <!--Profile Widget-->
            <!--===================================================-->
            <div class="panel widget">
                <div class="widget-header bg-purple">
                    <img class="widget-bg img-responsive" src="img/thumbs/img3.jpg" alt="Image">
                </div>
                <div class="widget-body text-center">
                    <img alt="Profile Picture" class="widget-img img-border-light" src="img/av4.png">
                    <h4 class="mar-no">Lucy Moon</h4>
                    <p class="text-muted mar-btm">Art Designer</p>
                </div>
                <div class="panel-footer">
                    <ul class="nav nav-section nav-justified">
                        <li>
                            <div class="section">
                                <h4> 12.5k </h4>
                                <p class="text-muted">Followers</p>
                            </div>
                        </li>
                        <li>
                            <div class="section">
                                <h4> 1853 </h4>
                                <p class="text-muted">Following</p>
                            </div>
                        </li>
                        <li>
                            <div class="section">
                                <h4> 3451 </h4>
                                <p class="text-muted">Tweets</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--===================================================-->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-sm-6 col-md-6 col-xs-12">
            <div class="userWidget-1">
                <div class="avatar-bg">
                    <img src="img/av7.png" alt="avatar">
                    <div class="name osLight"> Jane Smith </div>
                </div>
                <div class="title"> Web Designer </div>
                <div class="address"> Los Angeles, CA, USA </div>
                <ul class="fullstats">
                    <li> <span>280</span>Followers </li>
                    <li> <span>345</span>Following </li>
                    <li> <span>36</span>Posts </li>
                </ul>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-md-6 col-xs-12">
            <div class="userWidget-1">
                <div class="avatar">
                    <img src="img/av7.png" alt="avatar">
                    <div class="name osLight"> Jane Smith </div>
                </div>
                <div class="title"> Web Designer </div>
                <div class="address"> Los Angeles, CA, USA </div>
                <ul class="fullstats">
                    <li> <span>280</span>Followers </li>
                    <li> <span>345</span>Following </li>
                    <li> <span>36</span>Posts </li>
                </ul>
                <div class="clearfix"> </div>
            </div>
            <!--Extra small weather widget-->
            <!--===================================================-->
            <div class="panel media middle">
                <div class="media-left bg-primary pad-all">
                    <canvas id="demo-weather-xs-icon-1" width="48" height="48"></canvas>
                </div>
                <div class="media-body pad-lft">
                    <p class="text-2x mar-no text-thin">32&#176;</p>
                    <p class="text-muted mar-no">Sunny</p>
                </div>
            </div>
            <!--===================================================-->
            <!--End Extra small weather widget-->
            <!--Extra small weather widget-->
            <!--===================================================-->
            <div class="panel media middle">
                <div class="media-left pad-all">
                    <canvas id="demo-weather-xs-icon-2" width="48" height="48"></canvas>
                </div>
                <div class="media-body pad-lft">
                    <p class="text-2x mar-no text-thin text-mint">25&#176;</p>
                    <p class="text-muted mar-no">Partly Cloudy Day</p>
                </div>
            </div>
            <!--===================================================-->
            <!--End Extra small weather widget-->
        </div>
        <div class="col-lg-4 col-sm-6 col-md-6 col-xs-12">
            <!--Large weather widget-->
            <!--===================================================-->
            <div id="demo-weather-widget-lg" class="panel weather-panel-bg text-center">
                <div class="panel-body">
                    <!--Widget heading-->
                    <div class="media">
                        <div class="media-left text-light">
                            <i class="fa fa-map-marker fa-3x"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="mar-no text-left text-light">San Jose, CA</h4>
                            <p class="text-left text-light">Today</p>
                        </div>
                    </div>
                    <!--Widget body-->
                    <div class="row pad-top">
                        <div class="col-xs-6">
                            <canvas id="demo-weather-lg-icon-1" width="98" height="98"></canvas>
                        </div>
                        <div class="col-xs-6">
                            <p class="text-4x text-light">12&#176;</p>
                            <p class="text-light">Rainy Day</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--===================================================-->
            <!--End Large weather widget-->
            <!--Large weather widget-->
            <!--===================================================-->
            <div id="demo-weather-widget" class="panel weather-panel-bg2 text-center">
                <div class="panel-body">
                    <!--Widget heading-->
                    <div class="media">
                        <div class="media-left text-light">
                            <i class="fa fa-map-marker fa-3x"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="mar-no text-left text-light">San Jose, CA</h4>
                            <p class="text-left text-light">Today</p>
                        </div>
                    </div>
                    <!--Widget body-->
                    <div class="row pad-top">
                        <div class="col-xs-6">
                            <canvas id="demo-weather-lg-icon-2" width="98" height="98"></canvas>
                        </div>
                        <div class="col-xs-6">
                            <p class="text-4x text-light">27&#176;</p>
                            <p class="text-light">Partly Cloudy Day</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--===================================================-->
            <!--End Large weather widget-->
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel">
                <div class="panel-body np">
                    <!--Chat widget-->
                    <!--===================================================-->
                    <!--Widget body-->
                    <div id="demo-chat-body" class="collapse in">
                        <div class="nano" style="height:380px">
                            <div class="nano-content pad-all">
                                <ul class="list-unstyled media-block">
                                    <li class="mar-btm">
                                        <div class="media-left">
                                            <img src="img/av1.png" class="img-circle img-sm" alt="Profile Picture">
                                        </div>
                                        <div class="media-body pad-hor speech-left">
                                            <div class="speech">
                                                <a href="#" class="media-heading">John Doe</a>
                                                <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="mar-btm">
                                        <div class="media-right">
                                            <img src="img/av4.png" class="img-circle img-sm" alt="Profile Picture">
                                        </div>
                                        <div class="media-body pad-hor speech-right">
                                            <div class="speech">
                                                <a href="#" class="media-heading">Lucy Doe</a>
                                                <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="mar-btm">
                                        <div class="media-left">
                                            <img src="img/av1.png" class="img-circle img-sm" alt="Profile Picture">
                                        </div>
                                        <div class="media-body pad-hor speech-left">
                                            <div class="speech">
                                                <a href="#" class="media-heading">John Doe</a>
                                                <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="mar-btm">
                                        <div class="media-right">
                                            <img src="img/av4.png" class="img-circle img-sm" alt="Profile Picture">
                                        </div>
                                        <div class="media-body pad-hor speech-right">
                                            <div class="speech">
                                                <a href="#" class="media-heading">Lucy Doe</a>
                                                <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="mar-btm">
                                        <div class="media-right">
                                            <img src="img/av4.png" class="img-circle img-sm" alt="Profile Picture">
                                        </div>
                                        <div class="media-body pad-hor speech-right">
                                            <div class="speech">
                                                <a href="#" class="media-heading">Lucy Doe</a>
                                                <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="mar-btm">
                                        <div class="media-left">
                                            <img src="img/av1.png" class="img-circle img-sm" alt="Profile Picture">
                                        </div>
                                        <div class="media-body pad-hor speech-left">
                                            <div class="speech">
                                                <a href="#" class="media-heading">John Doe</a>
                                                <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="mar-btm">
                                        <div class="media-right">
                                            <img src="img/av4.png" class="img-circle img-sm" alt="Profile Picture">
                                        </div>
                                        <div class="media-body pad-hor speech-right">
                                            <div class="speech">
                                                <a href="#" class="media-heading">Lucy Doe</a>
                                                <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="mar-btm">
                                        <div class="media-left">
                                            <img src="img/av1.png" class="img-circle img-sm" alt="Profile Picture">
                                        </div>
                                        <div class="media-body pad-hor speech-left">
                                            <div class="speech">
                                                <a href="#" class="media-heading">John Doe</a>
                                                <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--Widget footer-->
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-xs-9">
                                    <input type="text" placeholder="Enter your text" class="form-control chat-input">
                                </div>
                                <div class="col-xs-3">
                                    <button class="btn btn-primary btn-block" type="submit">Send</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--===================================================-->
                    <!--Chat widget-->
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12 col-md-6 col-xs-12">
            <!--Profile Widget-->
            <!--===================================================-->
            <div class="panel text-center">
                <div class="panel-body bg-primary pad-ver">
                    <i class="fa fa-facebook fa-5x"></i>
                </div>
                <div class="panel-footer">
                    <ul class="nav nav-section nav-justified">
                        <li>
                            <div class="section">
                                <div class="h4 mar-ver-5"> 12.5k </div>
                                <p class="mar-no">Followers</p>
                            </div>
                        </li>
                        <li>
                            <div class="section">
                                <div class="h4 mar-ver-5"> 1853 </div>
                                <p class="mar-no">Following</p>
                            </div>
                        </li>
                        <li>
                            <div class="section">
                                <div class="h4 mar-ver-5"> 3451 </div>
                                <p class="mar-no">Tweets</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!--===================================================-->
            <!--Profile Widget-->
            <!--===================================================-->
            <div class="panel text-center">
                <div class="panel-body bg-warning pad-ver">
                    <i class="fa fa-dollar fa-5x"></i>
                </div>
                <div class="panel-footer">
                    <ul class="nav nav-section nav-justified">
                        <li>
                            <div class="section">
                                <div class="h4 mar-ver-5"> 12.5k </div>
                                <p class="mar-no">Followers</p>
                            </div>
                        </li>
                        <li>
                            <div class="section">
                                <div class="h4 mar-ver-5"> 1853 </div>
                                <p class="mar-no">Following</p>
                            </div>
                        </li>
                        <li>
                            <div class="section">
                                <div class="h4 mar-ver-5"> 3451 </div>
                                <p class="mar-no">Tweets</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!--===================================================-->
        </div>
        <div class="col-lg-4 col-sm-12 col-md-6 col-xs-12">
            <!--Profile Widget-->
            <!--===================================================-->
            <div class="panel text-center">
                <div class="panel-body bg-info pad-ver">
                    <i class="fa fa-twitter fa-5x"></i>
                </div>
                <div class="panel-footer">
                    <ul class="nav nav-section nav-justified">
                        <li>
                            <div class="section">
                                <div class="h4 mar-ver-5"> 12.5k </div>
                                <p class="mar-no">Followers</p>
                            </div>
                        </li>
                        <li>
                            <div class="section">
                                <div class="h4 mar-ver-5"> 1853 </div>
                                <p class="mar-no">Following</p>
                            </div>
                        </li>
                        <li>
                            <div class="section">
                                <div class="h4 mar-ver-5"> 3451 </div>
                                <p class="mar-no">Tweets</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!--===================================================-->
            <!--Profile Widget-->
            <!--===================================================-->
            <div class="panel text-center">
                <div class="panel-body bg-danger pad-ver">
                    <i class="fa fa-comments-o fa-5x"></i>
                </div>
                <div class="panel-footer">
                    <ul class="nav nav-section nav-justified">
                        <li>
                            <div class="section">
                                <div class="h4 mar-ver-5"> 12.5k </div>
                                <p class="mar-no">Followers</p>
                            </div>
                        </li>
                        <li>
                            <div class="section">
                                <div class="h4 mar-ver-5"> 1853 </div>
                                <p class="mar-no">Following</p>
                            </div>
                        </li>
                        <li>
                            <div class="section">
                                <div class="h4 mar-ver-5"> 3451 </div>
                                <p class="mar-no">Tweets</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!--===================================================-->
        </div>
    </div>
</div>
<!--===================================================-->
<!--End page content-->