<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div class="pageheader">
    <h3><i class="fa fa-home"></i> Forms Wizard </h3>
    <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li> <a href="#"> Home </a> </li>
            <li class="active"> forms wizard </li>
        </ol>
    </div>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->
<!--Page content-->
<!--===================================================-->
<div id="page-content">
    <div class="row">
        <div class="col-md-12">
            <section class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Form wizard with Validation </h3>
                </div>
                <div class="panel-body">
                    <!-- START Form Wizard -->
                    <form class="form-horizontal form-bordered" action="#" id="wizard-validate">
                        <!-- Wizard Container 1 -->
                        <div class="wizard-title"> Registration </div>
                        <div class="wizard-container">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <h5 class="semibold text-primary">
                                        <i class="fa fa-sign-in"></i> Login Details
                                    </h5>
                                    <p class="text-muted"> Enter Your Login Details </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"> User ID : </label>
                                <div class="col-sm-6">
                                    <input class="form-control" name="name" type="text" placeholder="Type your Name" data-parsley-range="[4, 10]" data-parsley-group="order" data-parsley-required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"> Email Address : </label>
                                <div class="col-sm-6">
                                    <input class="form-control" name="name" type="email" placeholder="Type your Email" data-parsley-group="order" data-parsley-required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"> Password : </label>
                                <div class="col-sm-6">
                                    <input class="form-control" name="name" type="password" id="passwordinput" placeholder="Type your password" data-parsley-minlength="6" data-parsley-group="order" data-parsley-required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"> Re-Password : </label>
                                <div class="col-sm-6">
                                    <input class="form-control" name="name" type="password" placeholder="Type your password" data-parsley-equalto="#passwordinput" data-parsley-group="order" data-parsley-required />
                                </div>
                            </div>
                        </div>
                        <!--/ Wizard Container 1 -->
                        <!-- Wizard Container 2 -->
                        <div class="wizard-title"> General information </div>
                        <div class="wizard-container">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <h5 class="semibold text-primary">
                                        <i class="fa fa-user"></i> General information
                                    </h5>
                                    <p class="text-muted"> General information about applicant </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>First Name: <span class="text-danger">*</span> </label>
                                        <input type="text" name="First name" class="form-control" placeholder="First Name" data-parsley-group="information" data-parsley-required />
                                    </div>
                                    <div class="col-md-6">
                                        <label>Last Name: <span class="text-danger">*</span> </label>
                                        <input type="text" name="Last name" class="form-control" placeholder="Last Name" data-parsley-group="information" data-parsley-required />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Phone #:</label>
                                        <input type="text" placeholder="+99-99-9999-9999" data-mask="+99-99-9999-9999" class="form-control" />
                                    </div>
                                    <div class="col-md-6">
                                        <label>Date of birth:</label>
                                        <input type="text" placeholder="99/99/9999" data-mask="99/99/9999" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Select State: </label>
                                        <select class="form-control" id="source">
                                            <option value="AK">Alaska</option>
                                            <option value="HI">Hawaii</option>
                                            <option value="CA">California</option>
                                            <option value="NV">Nevada</option>
                                            <option value="OR">Oregon</option>
                                            <option value="WA">Washington</option>
                                            <option value="AZ">Arizona</option>
                                            <option value="CO">Colorado</option>
                                            <option value="ID">Idaho</option>
                                            <option value="MT">Montana</option>
                                            <option value="NE">Nebraska</option>
                                            <option value="NM">New Mexico</option>
                                            <option value="ND">North Dakota</option>
                                            <option value="UT">Utah</option>
                                            <option value="WY">Wyoming</option>
                                            <option value="AL">Alabama</option>
                                            <option value="AR">Arkansas</option>
                                            <option value="IL">Illinois</option>
                                            <option value="IA">Iowa</option>
                                            <option value="KS">Kansas</option>
                                            <option value="KY">Kentucky</option>
                                            <option value="LA">Louisiana</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/ Wizard Container 2 -->
                        <!-- Wizard Container 3 -->
                        <div class="wizard-title"> Education </div>
                        <div class="wizard-container">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <h5 class="semibold text-primary">
                                        <i class="fa fa-book"></i> Education
                                    </h5>
                                    <p class="text-muted"> Where and when did you get your degree </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>University: </label>
                                        <input type="text" name="University" class="form-control" placeholder="University Name" data-parsley-group="payment" data-parsley-required />
                                    </div>
                                    <div class="col-md-6">
                                        <label> Country: </label>
                                        <input type="text" name="University-Country" class="form-control" placeholder="Choose a Country" data-parsley-group="payment" data-parsley-required />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label> Degree level: </label>
                                        <input type="text" name="Bachelor, Master etc.." class="form-control" placeholder="Bachelor, Master etc.." data-parsley-group="payment" data-parsley-required />
                                    </div>
                                    <div class="col-md-3">
                                        <label> From: </label>
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <select name="month" class="form-control" data-parsley-group="payment" data-parsley-required>
                                                    <option value="">Month</option>
                                                    <option value="1">January</option>
                                                    <option value="2">February</option>
                                                    <option value="3">March</option>
                                                    <option value="4">April</option>
                                                    <option value="5">May</option>
                                                    <option value="6">June</option>
                                                    <option value="7">July</option>
                                                    <option value="8">August</option>
                                                    <option value="9">September</option>
                                                    <option value="10">October</option>
                                                    <option value="11">November</option>
                                                    <option value="12">December</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-4">
                                                <input type="text" name="University-Country" class="form-control" placeholder="Year" data-parsley-group="payment" data-parsley-required />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label> To: </label>
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <select name="month" class="form-control" data-parsley-group="payment" data-parsley-required>
                                                    <option value="">Month</option>
                                                    <option value="1">January</option>
                                                    <option value="2">February</option>
                                                    <option value="3">March</option>
                                                    <option value="4">April</option>
                                                    <option value="5">May</option>
                                                    <option value="6">June</option>
                                                    <option value="7">July</option>
                                                    <option value="8">August</option>
                                                    <option value="9">September</option>
                                                    <option value="10">October</option>
                                                    <option value="11">November</option>
                                                    <option value="12">December</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-4">
                                                <input type="text" name="University-Country" class="form-control" placeholder="Year" data-parsley-group="payment" data-parsley-required />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/ Wizard Container 3 -->
                        <!-- Wizard Container 4 -->
                        <div class="wizard-title"> Work experience </div>
                        <div class="wizard-container">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <h5 class="semibold text-primary">
                                        <i class="fa fa-cog"></i> Work experience
                                    </h5>
                                    <p class="text-muted"> Let us know about your work experience </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Company: </label>
                                        <input type="text" name="Work experience" class="form-control" placeholder="Work experience" data-parsley-group="experience" data-parsley-required />
                                    </div>
                                    <div class="col-md-6">
                                        <label> Country: </label>
                                        <input type="text" name="Country" class="form-control" placeholder="Choose a Country" data-parsley-group="experience" data-parsley-required />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label> Position: </label>
                                        <input type="text" name="Your Position" class="form-control" placeholder="Your Position" data-parsley-group="experience" data-parsley-required />
                                    </div>
                                    <div class="col-md-3">
                                        <label> From: </label>
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <select name="month" class="form-control" data-parsley-group="experience" data-parsley-required>
                                                    <option value="">Month</option>
                                                    <option value="1">January</option>
                                                    <option value="2">February</option>
                                                    <option value="3">March</option>
                                                    <option value="4">April</option>
                                                    <option value="5">May</option>
                                                    <option value="6">June</option>
                                                    <option value="7">July</option>
                                                    <option value="8">August</option>
                                                    <option value="9">September</option>
                                                    <option value="10">October</option>
                                                    <option value="11">November</option>
                                                    <option value="12">December</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-4">
                                                <input type="text" name="University-Country" class="form-control" placeholder="Year" data-parsley-group="experience" data-parsley-required />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label> To: </label>
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <select name="month" class="form-control" data-parsley-group="experience" data-parsley-required>
                                                    <option value="">Month</option>
                                                    <option value="1">January</option>
                                                    <option value="2">February</option>
                                                    <option value="3">March</option>
                                                    <option value="4">April</option>
                                                    <option value="5">May</option>
                                                    <option value="6">June</option>
                                                    <option value="7">July</option>
                                                    <option value="8">August</option>
                                                    <option value="9">September</option>
                                                    <option value="10">October</option>
                                                    <option value="11">November</option>
                                                    <option value="12">December</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-4">
                                                <input type="text" name="University-Country" class="form-control" placeholder="Year" data-parsley-group="experience" data-parsley-required />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Wizard Container 4 -->
                    </form>
                    <!--/ END Form Wizard -->
                </div>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <section class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title"> Simple Form wizard </h3>
                </div>
                <div class="panel-body">
                    <!-- START Form Wizard -->
                    <form class="form-horizontal form-bordered" action="#" id="wizard">
                        <!-- Wizard Container 1 -->
                        <div class="wizard-title"> Login </div>
                        <div class="wizard-container">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <h4 class="text-primary"> <i class="fa fa-sign-in"></i> Login Details </h4>
                                    <p class="text-muted"> Enter Your Login Details </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"> User ID : </label>
                                <div class="col-sm-6">
                                    <input class="form-control" name="name" type="text" placeholder="Type your Name" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"> Email Address : </label>
                                <div class="col-sm-6">
                                    <input class="form-control" name="name" type="email" placeholder="Type your Email" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"> Password : </label>
                                <div class="col-sm-6">
                                    <input class="form-control" name="name" type="password" placeholder="Type your password" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"> Re-Password : </label>
                                <div class="col-sm-6">
                                    <input class="form-control" name="name" type="password" placeholder="Type your password" />
                                </div>
                            </div>
                        </div>
                        <!--/ Wizard Container 1 -->
                        <!-- Wizard Container 2 -->
                        <div class="wizard-title"> General information </div>
                        <div class="wizard-container">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <h4 class="semibold text-primary"> <i class="fa fa-user"></i> General information </h4>
                                    <p class="text-muted"> General information about applicant </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>First name: <span class="text-danger">*</span> </label>
                                        <input type="text" name="First-name" class="form-control" placeholder="First Name" />
                                    </div>
                                    <div class="col-md-6">
                                        <label>Last Name: <span class="text-danger">*</span></label>
                                        <input type="text" name="Last-name" class="form-control" placeholder="Last Name" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Phone #:</label>
                                        <input type="text" placeholder="+99-99-9999-9999" data-mask="+99-99-9999-9999" class="form-control" />
                                    </div>
                                    <div class="col-md-6">
                                        <label>Date of birth:</label>
                                        <input type="text" placeholder="99/99/9999" data-mask="99/99/9999" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Select State: </label>
                                        <select class="form-control" id="source2">
                                            <option value="AK">Alaska</option>
                                            <option value="HI">Hawaii</option>
                                            <option value="CA">California</option>
                                            <option value="NV">Nevada</option>
                                            <option value="OR">Oregon</option>
                                            <option value="WA">Washington</option>
                                            <option value="AZ">Arizona</option>
                                            <option value="CO">Colorado</option>
                                            <option value="ID">Idaho</option>
                                            <option value="MT">Montana</option>
                                            <option value="NE">Nebraska</option>
                                            <option value="NM">New Mexico</option>
                                            <option value="ND">North Dakota</option>
                                            <option value="UT">Utah</option>
                                            <option value="WY">Wyoming</option>
                                            <option value="AL">Alabama</option>
                                            <option value="AR">Arkansas</option>
                                            <option value="IL">Illinois</option>
                                            <option value="IA">Iowa</option>
                                            <option value="KS">Kansas</option>
                                            <option value="KY">Kentucky</option>
                                            <option value="LA">Louisiana</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/ Wizard Container 2 -->
                        <!-- Wizard Container 3 -->
                        <div class="wizard-title"> Education </div>
                        <div class="wizard-container">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <h4 class="semibold text-primary"> <i class="fa fa-book"></i> Education </h4>
                                    <p class="text-muted"> Where and when did you get your degree </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>University: </label>
                                        <input type="text" name="University" class="form-control" placeholder="University Name" />
                                    </div>
                                    <div class="col-md-6">
                                        <label> Country: </label>
                                        <input type="text" name="University-Country" class="form-control" placeholder="Choose a Country" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label> Degree level: </label>
                                        <input type="text" name="Bachelor, Master etc.." class="form-control" placeholder="Bachelor, Master etc.." />
                                    </div>
                                    <div class="col-md-3">
                                        <label> From: </label>
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <select name="month" class="form-control">
                                                    <option value="">Month</option>
                                                    <option value="1">January</option>
                                                    <option value="2">February</option>
                                                    <option value="3">March</option>
                                                    <option value="4">April</option>
                                                    <option value="5">May</option>
                                                    <option value="6">June</option>
                                                    <option value="7">July</option>
                                                    <option value="8">August</option>
                                                    <option value="9">September</option>
                                                    <option value="10">October</option>
                                                    <option value="11">November</option>
                                                    <option value="12">December</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-4">
                                                <input type="text" name="University-Country" class="form-control" placeholder="Year" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label> To: </label>
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <select name="month" class="form-control">
                                                    <option value="">Month</option>
                                                    <option value="1">January</option>
                                                    <option value="2">February</option>
                                                    <option value="3">March</option>
                                                    <option value="4">April</option>
                                                    <option value="5">May</option>
                                                    <option value="6">June</option>
                                                    <option value="7">July</option>
                                                    <option value="8">August</option>
                                                    <option value="9">September</option>
                                                    <option value="10">October</option>
                                                    <option value="11">November</option>
                                                    <option value="12">December</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-4">
                                                <input type="text" name="University-Country" class="form-control" placeholder="Year" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/ Wizard Container 3 -->
                        <!-- Wizard Container 4 -->
                        <div class="wizard-title"> Work experience </div>
                        <div class="wizard-container">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <h4 class="semibold text-primary"> <i class="fa fa-cog"></i> Work experience </h4>
                                    <p class="text-muted"> Let us know about your work experience </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Company: </label>
                                        <input type="text" name="Work experience" class="form-control" placeholder="Work experience" />
                                    </div>
                                    <div class="col-md-6">
                                        <label> Country: </label>
                                        <input type="text" name="Country" class="form-control" placeholder="Choose a Country" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label> Position: </label>
                                        <input type="text" name="Your Position" class="form-control" placeholder="Your Position" />
                                    </div>
                                    <div class="col-md-3">
                                        <label> From: </label>
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <select name="month" class="form-control">
                                                    <option value="">Month</option>
                                                    <option value="1">January</option>
                                                    <option value="2">February</option>
                                                    <option value="3">March</option>
                                                    <option value="4">April</option>
                                                    <option value="5">May</option>
                                                    <option value="6">June</option>
                                                    <option value="7">July</option>
                                                    <option value="8">August</option>
                                                    <option value="9">September</option>
                                                    <option value="10">October</option>
                                                    <option value="11">November</option>
                                                    <option value="12">December</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-4">
                                                <input type="text" name="University-Country" class="form-control" placeholder="Year" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label> To: </label>
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <select name="month" class="form-control">
                                                    <option value="">Month</option>
                                                    <option value="1">January</option>
                                                    <option value="2">February</option>
                                                    <option value="3">March</option>
                                                    <option value="4">April</option>
                                                    <option value="5">May</option>
                                                    <option value="6">June</option>
                                                    <option value="7">July</option>
                                                    <option value="8">August</option>
                                                    <option value="9">September</option>
                                                    <option value="10">October</option>
                                                    <option value="11">November</option>
                                                    <option value="12">December</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-4">
                                                <input type="text" name="University-Country" class="form-control" placeholder="Year" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Wizard Container 4 -->
                    </form>
                    <!--/ END Form Wizard -->
                </div>
            </section>
        </div>
    </div>
</div>
<!--===================================================-->
<!--End page content-->