<header class="pageheader">
    <h3><i class="fa fa-home"></i> Timeline </h3>
    <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li> <a href="#"> Home </a> </li>
            <li class="active"> Timeline </li>
        </ol>
    </div>
</header>
<!--Page content-->
<!--===================================================-->
<div id="page-content">
    <div class="row">
        <div class="col-md-12">
            <!-- Timeline -->
            <!--===================================================-->
            <div class="panel">
                <!--Panel heading-->
                <div class="panel-heading">
                    <h3 class="panel-title">Timeline</h3>
                </div>
                <!--Panel body-->
                <div class="panel-body">
                    <div class="timeline">
                        <!-- Timeline header -->
                        <div class="timeline-header">
                            <div class="timeline-header-title bg-info">Now</div>
                        </div>
                        <div class="timeline-entry">
                            <div class="timeline-stat">
                                <div class="timeline-icon bg-purple"><i class="fa fa-check fa-lg"></i> </div>
                            </div>
                            <div class="timeline-label">
                                <img class="img-xs img-circle" src="assets/images/av1.png" alt="Profile picture">
                                <a href="#" class="btn-link text-semibold"> John Doe </a> posted a new blog.
                                <div>
                                    <img src="assets/images/photos/profile-pic-1.png" class="profile-img img-left" alt="">
                                    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat...
                                    </p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-entry">
                            <div class="timeline-stat">
                                <div class="timeline-icon bg-mint"><i class="fa fa-users fa-lg"></i> </div>
                            </div>
                            <div class="timeline-label">
                                <img class="img-xs img-circle" src="assets/images/av4.png" alt="Profile picture">
                                <a href="#" class="btn-link text-semibold">Shirley Anderson</a> started following.
                                <img class="img-xs img-circle" src="assets/images/av7.png" alt="Profile picture"> <img class="img-xs img-circle" src="assets/images/av6.png" alt="Profile picture"></div>
                        </div>
                        <div class="timeline-entry">
                            <div class="timeline-stat">
                                <div class="timeline-icon bg-primary"><i class="fa fa-image fa-lg"></i> </div>
                            </div>
                            <div class="timeline-label">
                                <img class="img-xs img-circle" src="assets/images/av1.png" alt="Profile picture"> <a href="#" class="btn-link text-semibold"> Jonathan Anderson </a> Uploaded 4 images
                                <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</h4>
                                <div> <img src="assets/images/photos/profile-pic-1.png" class="profile-img" alt=""> <img src="assets/images/photos/profile-pic-1.png" class="profile-img" alt="">
                                    <img src="assets/images/photos/profile-pic-1.png" class="profile-img" alt="">
                                    <img src="assets/images/photos/profile-pic-1.png" class="profile-img" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="timeline-entry">
                            <div class="timeline-stat">
                                <div class="timeline-icon bg-info"><i class="fa fa-tasks fa-lg"></i> </div>
                            </div>
                            <div class="timeline-label">
                                <img class="img-xs img-circle" src="assets/images/av4.png" alt="Profile picture">
                                <a href="#" class="btn-link text-semibold">Shirley Anderson</a> completed the task “Application UI Re-design” within the dead line
                            </div>
                        </div>
                        <div class="timeline-entry">
                            <div class="timeline-stat">
                                <div class="timeline-icon bg-danger"><i class="fa fa-building fa-lg"></i> </div>
                            </div>
                            <div class="timeline-label">
                                <h4 class="mar-no pad-btm"><a href="#" class="text-danger">Job Meeting</a></h4>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
                            </div>
                        </div>
                        <div class="timeline-entry">
                            <div class="timeline-stat">
                                <div class="timeline-icon"><img src="assets/images/av4.png" alt="Profile picture"> </div>
                            </div>
                            <div class="timeline-label">
                                <p class="mar-no pad-btm">
                                    <a href="#" class="btn-link text-semibold">Lisa D.</a> commented on <a href="#">The Article</a>
                                </p>
                                <blockquote class="bq-sm bq-open">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</blockquote>
                            </div>
                        </div>
                        <div class="timeline-entry">
                            <div class="timeline-stat">
                                <div class="timeline-icon bg-purple"><i class="fa fa-users fa-lg"></i> </div>
                            </div>
                            <div class="timeline-label">
                                <img class="img-xs img-circle" src="assets/images/av3.png" alt="Profile picture">
                                <a href="#" class="btn-link text-semibold"> Bobby Marz</a> followed you.
                            </div>
                        </div>
                        <div class="timeline-entry">
                            <div class="timeline-stat">
                                <div class="timeline-icon"><img src="assets/images/av6.png" alt="Profile picture"> </div>
                            </div>
                            <div class="timeline-label">
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--===================================================-->
            <!--End Timeline-->
        </div>
    </div>
</div>
<!--===================================================-->
<!--End page content-->