<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div class="pageheader">
    <h3><i class="fa fa-home"></i> Homepage 3 </h3>
    <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li> <a href="#"> Home </a> </li>
            <li class="active"> Homepage 3 </li>
        </ol>
    </div>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->
<!--Page content-->
<!--===================================================-->
<div id="page-content">
    <div class="row">
        <div class="col-md-4">
            <div class="panel">
                <div class="panel-body text-center">
                    <ul class="list-inline nm">
                        <li class="left-easypiechart-data"> <span class="sell-percent">60%</span> <span>Direct Sell</span> </li>
                        <li>
                            <!--Easy Pie Chart-->
                            <!--===================================================-->
                            <div id="demo-pie-2" class="pie-title-center" data-percent="58"> <span class="pie-value text-thin"></span> </div>
                            <!--===================================================-->
                            <!-- End Easy Pie Chart -->
                        </li>
                        <li class="right-easypiechart-data"> <span class="sell-percent">40%</span> <span>Channel Sell</span> </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel">
                <div class="panel-body text-center">
                    <ul class="list-inline nm">
                        <li class="left-easypiechart-data"> <span class="sell-percent">60%</span> <span>Direct Sell</span> </li>
                        <li>
                            <!--Easy Pie Chart-->
                            <!--===================================================-->
                            <div id="demo-pie-3" class="pie-title-center" data-percent="35"> <span class="pie-value text-thin"></span> </div>
                            <!--===================================================-->
                            <!-- End Easy Pie Chart -->
                        </li>
                        <li class="right-easypiechart-data"> <span class="sell-percent">40%</span> <span>Channel Sell</span> </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel">
                <div class="panel-body text-center">
                    <ul class="list-inline nm">
                        <li class="left-easypiechart-data"> <span class="sell-percent">60%</span> <span>Direct Sell</span> </li>
                        <li>
                            <!--Easy Pie Chart-->
                            <!--===================================================-->
                            <div id="demo-pie-4" class="pie-title-center" data-percent="45"> <span class="pie-value text-thin"></span> </div>
                            <!--===================================================-->
                            <!-- End Easy Pie Chart -->
                        </li>
                        <li class="right-easypiechart-data"> <span class="sell-percent">40%</span> <span>Channel Sell</span> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title"> Order Statistics </h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-8">
                        <!-- World Map -->
                        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                        <div id="world-map-markers" style="height: 300px"></div>
                        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                    </div>
                    <div class="col-md-4">
                        <!-- Progress bars Start -->
                        <div class="clearfix">
                            <span class="pull-left">In Queue</span>
                            <small class="pull-right">45%</small>
                        </div>
                        <div class="pad-btm">
                            <div class="progress progress-striped progress-sm">
                                <div class="progress-bar progress-bar-info" style="width: 55%;"></div>
                            </div>
                        </div>
                        <!-- Progress bars End -->
                        <!-- Progress bars Start -->
                        <div class="clearfix">
                            <span class="pull-left">Shipped Products</span>
                            <small class="pull-right">350/500</small>
                        </div>
                        <div class="pad-btm">
                            <div class="progress progress-striped progress-sm">
                                <div class="progress-bar progress-bar-primary" style="width: 55%;"></div>
                            </div>
                        </div>
                        <!-- Progress bars End -->
                        <!-- Progress bars Start -->
                        <div class="clearfix">
                            <span class="pull-left">Returned Products</span>
                            <small class="pull-right">50/500</small>
                        </div>
                        <div class="pad-btm">
                            <div class="progress progress-striped progress-sm">
                                <div class="progress-bar progress-bar-warning" style="width: 55%;"></div>
                            </div>
                        </div>
                        <!-- Progress bars End -->
                        <!-- Progress bars Start -->
                        <div class="clearfix">
                            <span class="pull-left">Pending Deliveries</span>
                            <small class="pull-right">150/500</small>
                        </div>
                        <div class="pad-btm">
                            <div class="progress progress-striped progress-sm">
                                <div class="progress-bar progress-bar-danger" style="width: 55%;"></div>
                            </div>
                        </div>
                        <!-- Progress bars End -->
                        <!-- Progress bars Start -->
                        <div class="clearfix">
                            <span class="pull-left">Project 2</span>
                            <small class="pull-right">32%</small>
                        </div>
                        <div class="pad-btm">
                            <div class="progress progress-striped progress-sm">
                                <div class="progress-bar progress-bar-info" style="width: 55%;"></div>
                            </div>
                        </div>
                        <!-- Progress bars End -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <!--Hover Rows-->
                    <!--===================================================-->
                    <table class="table table-hover table-vcenter">
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th>Profile</th>
                                <th>User ID</th>
                                <th class="hidden-xs">Email Address</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="checkbox">
                                        <label class="form-checkbox form-icon active">
                                                            <input type="checkbox">
                                                            </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="media-object center">
                                        <img src="assets/images/av1.png" alt="" class="img-responsive img-rounded">
                                    </div>
                                </td>
                                <td> Semantha Armstrong </td>
                                <td class="hidden-xs">semantha@gmail.com</td>
                                <td>
                                    <div class="label label-table label-info">Block</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="checkbox">
                                        <label class="form-checkbox form-icon active">
                                                            <input type="checkbox">
                                                            </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="media-object center">
                                        <img src="assets/images/av1.png" alt="" class="img-responsive img-rounded">
                                    </div>
                                </td>
                                <td> Jonathan Smith </td>
                                <td class="hidden-xs">jonathan@gmail.com</td>
                                <td>
                                    <div class="label label-table label-danger">On Hold</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="checkbox">
                                        <label class="form-checkbox form-icon active">
                                                            <input type="checkbox">
                                                            </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="media-object center">
                                        <img src="assets/images/av1.png" alt="" class="img-responsive img-rounded">
                                    </div>
                                </td>
                                <td> Jacob Armstrong </td>
                                <td class="hidden-xs">jacob@gmail.com</td>
                                <td>
                                    <div class="label label-table label-success">Approved</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="checkbox">
                                        <label class="form-checkbox form-icon active">
                                                            <input type="checkbox">
                                                            </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="media-object center">
                                        <img src="assets/images/av1.png" alt="" class="img-responsive img-rounded">
                                    </div>
                                </td>
                                <td> Sandra Smith </td>
                                <td class="hidden-xs">Sandra@gmail.com</td>
                                <td>
                                    <div class="label label-table label-warning">Pending</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="checkbox">
                                        <label class="form-checkbox form-icon active">
                                                            <input type="checkbox">
                                                            </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="media-object center">
                                        <img src="assets/images/av1.png" alt="" class="img-responsive img-rounded">
                                    </div>
                                </td>
                                <td> Sandra </td>
                                <td class="hidden-xs">Sandra@gmail.com</td>
                                <td>
                                    <div class="label label-table label-warning">Pending</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!--===================================================-->
                    <!--End Hover Rows-->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title"> Sales Statistics </h3>
                </div>
                <div class="panel-body">
                    <!--Flot Line Chart placeholder-->
                    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                    <div id="demo-negativebar" style="height:150px"></div>
                    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title"> Earning Statistics </h3>
                </div>
                <div class="panel-body">
                    <!--Flot Line Chart placeholder-->
                    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                    <div id="demo-earning-statistics" style="height:150px"></div>
                    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title"> Sales Statistics </h3>
                </div>
                <div class="panel-body">
                    <!--Flot Line Chart placeholder-->
                    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                    <div id="demo-realtime" style="height:150px"></div>
                    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title"> Order List </h3>
                </div>
                <div class="panel-body">
                    <!--Default Tabs (Left Aligned)-->
                    <!--===================================================-->
                    <div class="tab-base">
                        <!--Nav Tabs-->
                        <ul class="nav nav-tabs">
                            <li class="active"> <a data-toggle="tab" href="#demo-lft-tab-1"> Top Selling </a> </li>
                            <li> <a data-toggle="tab" href="#demo-lft-tab-2">Most Viewed</a> </li>
                            <li> <a data-toggle="tab" href="#demo-lft-tab-3">Recent Orders</a> </li>
                        </ul>
                        <!--Tabs Content-->
                        <div class="tab-content">
                            <div id="demo-lft-tab-1" class="tab-pane fade active in">
                                <!--Hover Rows-->
                                <!--===================================================-->
                                <table class="table table-hover table-vcenter">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Project</th>
                                            <th>Project Deadline</th>
                                            <th>Status</th>
                                            <th class="hidden-xs">Clients</th>
                                            <th class="hidden-xs">Progress</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>IT Help Desk</td>
                                            <td>11 May 2016</td>
                                            <td>
                                                <div class="label label-table label-info">Block</div>
                                            </td>
                                            <td class="hidden-xs">Semantha Armstrong</td>
                                            <td class="hidden-xs">
                                                <div class="progress progress-striped progress-sm">
                                                    <div class="progress-bar progress-bar-primary" style="width: 25%;"></div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Product Dev</td>
                                            <td>15 May 2016</td>
                                            <td>
                                                <div class="label label-table label-danger">On Hold</div>
                                            </td>
                                            <td class="hidden-xs">Jonathan Smith</td>
                                            <td class="hidden-xs">
                                                <div class="progress progress-striped progress-sm">
                                                    <div class="progress-bar progress-bar-success" style="width: 35%;"></div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Website Redesign</td>
                                            <td>19 May 2016</td>
                                            <td>
                                                <div class="label label-table label-success">Approved</div>
                                            </td>
                                            <td class="hidden-xs">Jacob Armstrong</td>
                                            <td class="hidden-xs">
                                                <div class="progress progress-striped progress-sm">
                                                    <div class="progress-bar progress-bar-info" style="width: 85%;"></div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>Local Ad</td>
                                            <td>25 May 2016</td>
                                            <td>
                                                <div class="label label-table label-warning">Pending</div>
                                            </td>
                                            <td class="hidden-xs">Sandra Smith</td>
                                            <td class="hidden-xs">
                                                <div class="progress progress-striped progress-sm">
                                                    <div class="progress-bar progress-bar-warning" style="width: 45%;"></div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>Design new theme</td>
                                            <td>28 May 2016</td>
                                            <td>
                                                <div class="label label-table label-warning">Pending</div>
                                            </td>
                                            <td class="hidden-xs">Will DeBrandon</td>
                                            <td class="hidden-xs">
                                                <div class="progress progress-striped progress-sm">
                                                    <div class="progress-bar progress-bar-danger" style="width: 55%;"></div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>Mockup Testing</td>
                                            <td>31 May 2016</td>
                                            <td>
                                                <div class="label label-table label-warning">Pending</div>
                                            </td>
                                            <td class="hidden-xs">Alexander Flynn</td>
                                            <td class="hidden-xs">
                                                <div class="progress progress-striped progress-sm">
                                                    <div class="progress-bar progress-bar-success" style="width: 75%;"></div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!--===================================================-->
                                <!--End Hover Rows-->
                            </div>
                            <div id="demo-lft-tab-2" class="tab-pane fade">
                                <div class="pad-btm form-inline">
                                    <div class="row">
                                        <div class="col-sm-6 text-xs-center">
                                            <div class="form-group">
                                                <label class="control-label">Status</label>
                                                <select id="demo-foo-filter-status" class="form-control">
                                                                            <option value="">Show all</option>
                                                                            <option value="active">Active</option>
                                                                            <option value="disabled">Disabled</option>
                                                                            <option value="suspended">Suspended</option>
                                                                        </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 text-xs-center text-right">
                                            <div class="form-group">
                                                <input id="demo-foo-search" type="text" placeholder="Search" class="form-control" autocomplete="off">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Foo Table - Filtering -->
                                <!--===================================================-->
                                <table id="demo-foo-filtering" class="table table-bordered table-hover toggle-circle" data-page-size="7">
                                    <thead>
                                        <tr>
                                            <th data-toggle="true">First Name</th>
                                            <th class="hidden-xs">Last Name</th>
                                            <th data-hide="phone, tablet">Job Title</th>
                                            <th data-hide="phone, tablet" class="hidden-xs">DOB</th>
                                            <th data-hide="phone, tablet">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Albert</td>
                                            <td class="hidden-xs">Desouza</td>
                                            <td>System Architect</td>
                                            <td class="hidden-xs">22 Jun 1972</td>
                                            <td><span class="label label-table label-success">Active</span></td>
                                        </tr>
                                        <tr>
                                            <td>Teresa </td>
                                            <td class="hidden-xs">L. Doe</td>
                                            <td>Pre-Sales Support</td>
                                            <td class="hidden-xs">3 Oct 1981</td>
                                            <td><span class="label label-table label-dark">Disabled</span></td>
                                        </tr>
                                        <tr>
                                            <td>Veronica </td>
                                            <td class="hidden-xs">Gusikowski</td>
                                            <td>Civil Engineer/td>
                                                <td class="hidden-xs">19 Apr 1969</td>
                                                <td><span class="label label-table label-danger">Suspended</span></td>
                                        </tr>
                                        <tr>
                                            <td>Bruce </td>
                                            <td class="hidden-xs">Rogahn</td>
                                            <td>CEO</td>
                                            <td class="hidden-xs">13 Dec 1977</td>
                                            <td><span class="label label-table label-success">Active</span></td>
                                        </tr>
                                        <tr>
                                            <td>Semantha</td>
                                            <td class="hidden-xs">Halladay</td>
                                            <td>Junior Technical Assistant</td>
                                            <td class="hidden-xs">30 Dec 1991</td>
                                            <td><span class="label label-table label-danger">Suspended</span></td>
                                        </tr>
                                        <tr>
                                            <td>Stevan </td>
                                            <td class="hidden-xs">Hickle</td>
                                            <td>Business Services Sales Representative</td>
                                            <td class="hidden-xs">17 Oct 1987</td>
                                            <td><span class="label label-table label-dark">Disabled</span></td>
                                        </tr>
                                        <tr>
                                            <td>Carolina </td>
                                            <td class="hidden-xs">Hickle</td>
                                            <td>Business Services Sales Representative</td>
                                            <td class="hidden-xs">17 Oct 1987</td>
                                            <td><span class="label label-table label-dark">Disabled</span></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="5">
                                                <div class="text-right">
                                                    <ul class="pagination"></ul>
                                                </div>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                                <!--===================================================-->
                                <!-- End Foo Table - Filtering -->
                            </div>
                            <div id="demo-lft-tab-3" class="tab-pane fade">
                                <!--Hover Rows-->
                                <!--===================================================-->
                                <table class="table table-hover table-vcenter">
                                    <thead>
                                        <tr>
                                            <th class="hidden-xs">&nbsp;</th>
                                            <th>Profile</th>
                                            <th>User ID</th>
                                            <th class="hidden-xs">Date</th>
                                            <th>Amount</th>
                                            <th class="hidden-xs">Email Address</th>
                                            <th>Status</th>
                                            <th class="hidden-xs">Download</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="hidden-xs">
                                                <div class="checkbox">
                                                    <label class="form-checkbox form-icon active">
                                                                        <input type="checkbox">
                                                                        </label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="media-object center"> <img src="assets/images/av1.png" alt="" class="img-rounded img-sm"> </div>
                                            </td>
                                            <td> Semantha Armstrong </td>
                                            <td class="hidden-xs">3 Jan, 2013</td>
                                            <td>$239.85</td>
                                            <td class="hidden-xs">semantha@gmail.com</td>
                                            <td>
                                                <div class="label label-table label-info">Block</div>
                                            </td>
                                            <td class="hidden-xs">
                                                <!--Split Buttons Dropdown-->
                                                <!--===================================================-->
                                                <div class="btn-group btn-group-xs">
                                                    <button class="btn btn-danger">Download</button>
                                                    <button class="btn btn-danger dropdown-toggle dropdown-toggle-icon" data-toggle="dropdown" type="button">
                                                                        <i class="dropdown-caret fa fa-caret-down"></i>
                                                                        </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">Action</a> </li>
                                                        <li><a href="#">Another action</a> </li>
                                                        <li><a href="#">Something else here</a> </li>
                                                        <li class="divider"></li>
                                                        <li><a href="#">Separated link</a> </li>
                                                    </ul>
                                                </div>
                                                <!--===================================================-->
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="hidden-xs">
                                                <div class="checkbox">
                                                    <label class="form-checkbox form-icon active">
                                                                        <input type="checkbox">
                                                                        </label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="media-object center"> <img src="assets/images/av1.png" alt="" class="img-rounded img-sm"> </div>
                                            </td>
                                            <td> Jonathan Smith </td>
                                            <td class="hidden-xs">3 Jan, 2013</td>
                                            <td>$239.85</td>
                                            <td class="hidden-xs">jonathan@gmail.com</td>
                                            <td>
                                                <div class="label label-table label-danger">On Hold</div>
                                            </td>
                                            <td class="hidden-xs">
                                                <!--Split Buttons Dropdown-->
                                                <!--===================================================-->
                                                <div class="btn-group btn-group-xs">
                                                    <button class="btn btn-danger">Download</button>
                                                    <button class="btn btn-danger dropdown-toggle dropdown-toggle-icon" data-toggle="dropdown" type="button">
                                                                        <i class="dropdown-caret fa fa-caret-down"></i>
                                                                        </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">Action</a> </li>
                                                        <li><a href="#">Another action</a> </li>
                                                        <li><a href="#">Something else here</a> </li>
                                                        <li class="divider"></li>
                                                        <li><a href="#">Separated link</a> </li>
                                                    </ul>
                                                </div>
                                                <!--===================================================-->
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="hidden-xs">
                                                <div class="checkbox">
                                                    <label class="form-checkbox form-icon active">
                                                                        <input type="checkbox">
                                                                        </label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="media-object center"> <img src="assets/images/av1.png" alt="" class="img-rounded img-sm"> </div>
                                            </td>
                                            <td> Jacob Armstrong </td>
                                            <td class="hidden-xs">3 Jan, 2013</td>
                                            <td>$1395.85</td>
                                            <td class="hidden-xs">jacob@gmail.com</td>
                                            <td>
                                                <div class="label label-table label-success">Approved</div>
                                            </td>
                                            <td class="hidden-xs">
                                                <!--Split Buttons Dropdown-->
                                                <!--===================================================-->
                                                <div class="btn-group btn-group-xs">
                                                    <button class="btn btn-danger">Download</button>
                                                    <button class="btn btn-danger dropdown-toggle dropdown-toggle-icon" data-toggle="dropdown" type="button">
                                                                        <i class="dropdown-caret fa fa-caret-down"></i>
                                                                        </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">Action</a> </li>
                                                        <li><a href="#">Another action</a> </li>
                                                        <li><a href="#">Something else here</a> </li>
                                                        <li class="divider"></li>
                                                        <li><a href="#">Separated link</a> </li>
                                                    </ul>
                                                </div>
                                                <!--===================================================-->
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="hidden-xs">
                                                <div class="checkbox">
                                                    <label class="form-checkbox form-icon active">
                                                                        <input type="checkbox">
                                                                        </label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="media-object center"> <img src="assets/images/av1.png" alt="" class="img-rounded img-sm"> </div>
                                            </td>
                                            <td> Sandra Smith </td>
                                            <td class="hidden-xs">3 Jan, 2013</td>
                                            <td>$125.85</td>
                                            <td class="hidden-xs">Sandra@gmail.com</td>
                                            <td>
                                                <div class="label label-table label-warning">Pending</div>
                                            </td>
                                            <td class="hidden-xs">
                                                <!--Split Buttons Dropdown-->
                                                <!--===================================================-->
                                                <div class="btn-group btn-group-xs">
                                                    <button class="btn btn-danger">Download</button>
                                                    <button class="btn btn-danger dropdown-toggle dropdown-toggle-icon" data-toggle="dropdown" type="button">
                                                                        <i class="dropdown-caret fa fa-caret-down"></i>
                                                                        </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">Action</a> </li>
                                                        <li><a href="#">Another action</a> </li>
                                                        <li><a href="#">Something else here</a> </li>
                                                        <li class="divider"></li>
                                                        <li><a href="#">Separated link</a> </li>
                                                    </ul>
                                                </div>
                                                <!--===================================================-->
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="hidden-xs">
                                                <div class="checkbox">
                                                    <label class="form-checkbox form-icon active">
                                                                        <input type="checkbox">
                                                                        </label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="media-object center"> <img src="assets/images/av1.png" alt="" class="img-rounded img-sm"> </div>
                                            </td>
                                            <td> Sandra </td>
                                            <td class="hidden-xs">3 Jan, 2013</td>
                                            <td>$239.85</td>
                                            <td class="hidden-xs">Sandra@gmail.com</td>
                                            <td>
                                                <div class="label label-table label-warning">Pending</div>
                                            </td>
                                            <td class="hidden-xs">
                                                <!--Split Buttons Dropdown-->
                                                <!--===================================================-->
                                                <div class="btn-group btn-group-xs">
                                                    <button class="btn btn-danger">Download</button>
                                                    <button class="btn btn-danger dropdown-toggle dropdown-toggle-icon" data-toggle="dropdown" type="button">
                                                                        <i class="dropdown-caret fa fa-caret-down"></i>
                                                                        </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">Action</a> </li>
                                                        <li><a href="#">Another action</a> </li>
                                                        <li><a href="#">Something else here</a> </li>
                                                        <li class="divider"></li>
                                                        <li><a href="#">Separated link</a> </li>
                                                    </ul>
                                                </div>
                                                <!--===================================================-->
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!--===================================================-->
                                <!--End Hover Rows-->
                            </div>
                        </div>
                    </div>
                    <!--===================================================-->
                    <!--End Default Tabs (Left Aligned)-->
                </div>
            </div>
        </div>
    </div>
</div>
<!--===================================================-->
<!--End page content-->