<header class="pageheader">
    <h3><i class="fa fa-home"></i> Drag & Drop </h3>
    <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li> <a href="#"> Home </a> </li>
            <li class="active"> Drag & Drop </li>
        </ol>
    </div>
</header>
<!--Page content-->
<!--===================================================-->
<div id="page-content">
    <div class="row">
        <div class="col-md-6 eq-box-md grid">
            <!--Panel with Header-->
            <!--===================================================-->
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel with header</h3>
                </div>
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <!--===================================================-->
            <!--End Panel with Header-->
            <!--Panel with Header-->
            <!--===================================================-->
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel with header</h3>
                </div>
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <!--===================================================-->
            <!--End Panel with Header-->
            <!--Panel with Header-->
            <!--===================================================-->
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel with header</h3>
                </div>
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <!--===================================================-->
            <!--End Panel with Header-->
        </div>
        <div class="col-md-6 eq-box-md grid">
            <!--Panel with Header-->
            <!--===================================================-->
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel with header</h3>
                </div>
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <!--===================================================-->
            <!--End Panel with Header-->
            <!--Panel with Header-->
            <!--===================================================-->
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel with header</h3>
                </div>
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <!--===================================================-->
            <!--End Panel with Header-->
            <!--Panel with Header-->
            <!--===================================================-->
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel with header</h3>
                </div>
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <!--===================================================-->
            <!--End Panel with Header-->
        </div>
    </div>
</div>
<!--===================================================-->
<!--End page content-->