<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div class="pageheader">
    <h3><i class="fa fa-home"></i> Form Switchery </h3>
    <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li> <a href="#"> Home </a> </li>
            <li class="active"> Form Switchery </li>
        </ol>
    </div>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->
<!--Page content-->
<!--===================================================-->
<div id="page-content">
    <div class="row">
        <div class="col-lg-6">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-control">
                        <button class="btn btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></button>
                        <button class="btn btn-default" data-click="panel-reload"><i class="fa fa-refresh"></i></button>
                        <button class="btn btn-default" data-click="panel-collapse"><i class="fa fa-chevron-down"></i></button>
                        <button class="btn btn-default" data-dismiss="panel"><i class="fa fa-times"></i></button>
                    </div>
                    <h3 class="panel-title">Switchery</h3>
                </div>
                <div class="panel-body">
                    <p class="text-thin mar-btm">Checking state</p>
                    <div class="box-inline mar-rgt">
                        <!--Switchery : Checked by default-->
                        <!--===================================================-->
                        <input id="demo-sw-checkstate" type="checkbox" checked>
                        <!--===================================================-->
                    </div>
                    <!--Switchery : Checking State Field-->
                    <!--===================================================-->
                    <span id="demo-sw-checkstate-field" class="label label-info"></span>
                    <!--===================================================-->
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-control">
                        <button class="btn btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></button>
                        <button class="btn btn-default" data-click="panel-reload"><i class="fa fa-refresh"></i></button>
                        <button class="btn btn-default" data-click="panel-collapse"><i class="fa fa-chevron-down"></i></button>
                        <button class="btn btn-default" data-dismiss="panel"><i class="fa fa-times"></i></button>
                    </div>
                    <h3 class="panel-title">Switchery Size</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-inline">
                        <!--Switchery : Sizes-->
                        <!--===================================================-->
                        <li>
                            <input id="demo-sw-sz-lg" type="checkbox" checked>
                        </li>
                        <li>
                            <input id="demo-sw-sz" type="checkbox" checked>
                        </li>
                        <li>
                            <input id="demo-sw-sz-sm" type="checkbox" checked>
                        </li>
                        <!--===================================================-->
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-control">
                        <button class="btn btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></button>
                        <button class="btn btn-default" data-click="panel-reload"><i class="fa fa-refresh"></i></button>
                        <button class="btn btn-default" data-click="panel-collapse"><i class="fa fa-chevron-down"></i></button>
                        <button class="btn btn-default" data-dismiss="panel"><i class="fa fa-times"></i></button>
                    </div>
                    <h3 class="panel-title">Default Switchery</h3>
                </div>
                <div class="panel-body">
                    <div class="box-inline mar-rgt">
                        <p class="text-thin mar-btm">Checked by default</p>
                        <!--Switchery : Checked-->
                        <!--===================================================-->
                        <input id="demo-sw-default" type="checkbox" checked>
                        <!--===================================================-->
                    </div>
                    <div class="box-inline">
                        <p class="text-thin mar-btm">Uncheked by default</p>
                        <!--Switchery : Unchecked-->
                        <!--===================================================-->
                        <input id="demo-sw-unchecked" type="checkbox">
                        <!--===================================================-->
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-control">
                        <button class="btn btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></button>
                        <button class="btn btn-default" data-click="panel-reload"><i class="fa fa-refresh"></i></button>
                        <button class="btn btn-default" data-click="panel-collapse"><i class="fa fa-chevron-down"></i></button>
                        <button class="btn btn-default" data-dismiss="panel"><i class="fa fa-times"></i></button>
                    </div>
                    <h3 class="panel-title">Color Switchery</h3>
                </div>
                <div class="panel-body">
                    <p>Switchery is a simple component that helps you turn your default HTML checkbox inputs into beautiful iOS 7 style switches in just few simple steps.</p>
                    <ul class="list-inline">
                        <!--Switchery : Colored-->
                        <!--===================================================-->
                        <li class="mar-btm">
                            <input id="demo-sw-blue" type="checkbox" checked>
                        </li>
                        <li class="mar-btm">
                            <input id="demo-sw-light-blue" type="checkbox" checked>
                        </li>
                        <li class="mar-btm">
                            <input id="demo-sw-green" type="checkbox" checked>
                        </li>
                        <li class="mar-btm">
                            <input id="demo-sw-orange" type="checkbox" checked>
                        </li>
                        <li class="mar-btm">
                            <input id="demo-sw-red" type="checkbox" checked>
                        </li>
                        <li class="mar-btm">
                            <input id="demo-sw-mint" type="checkbox" checked>
                        </li>
                        <li class="mar-btm">
                            <input id="demo-sw-purple" type="checkbox" checked>
                        </li>
                        <li class="mar-btm">
                            <input id="demo-sw-pink" type="checkbox" checked>
                        </li>
                        <!--===================================================-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===================================================-->
<!--End page content-->