<div id="container" class="effect mainnav-lg navbar-fixed mainnav-fixed">
    <!--HEADER-->
    <senseui-header></senseui-header>
    <!--END HEADER-->
    <div class="boxed">
        <!--CONTENT CONTAINER-->
        <div id="content-container">
            <!--SETTINGS-->
            <senseui-settings></senseui-settings>
            <!--END SETTINGS-->
            <!--CONTENT-->
            <router-outlet></router-outlet>
            <!--END CONTENT-->
        </div>
        <!--END CONTENT CONTAINER-->

        <!--MAIN NAVIGATION-->
        <senseui-sidenav></senseui-sidenav>
        <!--END MAIN NAVIGATION-->

        <!--ASIDE-->
        <senseui-asidebar></senseui-asidebar>
        <!--END ASIDE-->
    </div>
    <!-- FOOTER -->
    <!-- END FOOTER -->
    <senseui-footer></senseui-footer>
    <!-- SCROLL TOP BUTTON -->
    <!--===================================================-->
    <button id="scroll-top" class="btn"><i class="fa fa-chevron-up"></i></button>
    <!--===================================================-->
</div>
<!--===================================================-->
<!-- END OF CONTAINER -->