<!--MAIN NAVIGATION-->
<!--===================================================-->
<nav id="mainnav-container">
    <div id="mainnav">
        <!--Menu-->
        <!--================================-->
        <div id="mainnav-menu-wrap">
            <div class="nano">
                <div class="nano-content">
                    <ul id="mainnav-menu" class="list-group">
                        <li *ngFor="let item of menuItems" [ngClass]="(item.isCategory)?item.icon:''">
                            <ng-container *ngIf="item.isCategory">
                                {{item.name}}
                            </ng-container>
                            <ng-container *ngIf="!item.isCategory">
                                <a href="javascript:void(0)" *ngIf="!item.url">
                                    <i [ngClass]="item.icon"></i>
                                    <span class="menu-title">{{item.name}}</span>
                                    <i class="arrow" *ngIf="item.children.length"></i>
                                </a>
                                <a [routerLink]="[item.url]" *ngIf="item.url">
                                    <i [ngClass]="item.icon"></i>
                                    <span class="menu-title">{{item.name}}</span>
                                    <i class="arrow" *ngIf="item.children.length"></i>
                                </a>
                                <ng-container *ngIf="item.children.length">
                                    <ul class="collapse">
                                        <li *ngFor="let subItem of item.children">
                                            <a [routerLink]="[subItem.url]">
                                                <i [ngClass]="subItem.icon"></i> {{subItem.name}}
                                            </a>
                                        </li>
                                    </ul>
                                </ng-container>
                            </ng-container>
                        </li>
                    </ul>
                    <!--Widget-->
                    <!--================================-->
                    <div class="mainnav-widget">
                        <!-- Show the button on collapsed navigation -->
                        <div class="show-small">
                            <a href="#" data-toggle="menu-widget" data-target="#demo-wg-server">
                                <i class="fa fa-desktop"></i>
                            </a>
                        </div>
                        <!-- Hide the content on collapsed navigation -->
                        <div id="demo-wg-server" class="hide-small mainnav-widget-content">
                            <ul class="list-group">
                                <li class="list-header pad-no pad-ver">Server Status</li>
                                <li class="mar-btm">
                                    <span class="label label-primary pull-right">15%</span>
                                    <p>CPU Usage</p>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar progress-bar-primary" style="width: 15%;">
                                            <span class="sr-only">15%</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="mar-btm">
                                    <span class="label label-purple pull-right">75%</span>
                                    <p>Bandwidth</p>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar progress-bar-purple" style="width: 75%;">
                                            <span class="sr-only">75%</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--================================-->
                    <!--End widget-->
                </div>
            </div>
        </div>
        <!--================================-->
        <!--End menu-->
    </div>
</nav>
<!--===================================================-->
<!--END MAIN NAVIGATION-->