<nav class="navbar navbar-default megamenu">
    <div class="navbar-header">
        <button type="button" data-toggle="collapse" data-target="#defaultmenu" class="navbar-toggle">
                            <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                            </button>
    </div>
    <!-- end navbar-header -->
    <div id="defaultmenu" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <!-- list elements -->
            <li class="dropdown megamenu-fw active">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle"> Home <b class="caret"></b></a>
                <ul class="dropdown-menu fullwidth">
                    <li class="megamenu-content withdesc">
                        <div class="col-sm-2">
                            <h3 class="title">Support</h3>
                            <ul>
                                <li><a href="#">Home Page 2</a></li>
                                <li><a href="#">Home Page 3</a></li>
                                <li><a href="#">Home Page 3</a></li>
                                <li><a href="#">Home Page 4</a></li>
                                <li><a href="#">Home Page 5</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-2">
                            <h3 class="title">Marketplace</h3>
                            <ul>
                                <li><a href="#">Home Page 6</a></li>
                                <li><a href="#">Home Page 7</a></li>
                                <li><a href="#">Home Page 8</a></li>
                                <li><a href="#">Home Page 9</a></li>
                                <li><a href="#">Home Page 10</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-2">
                            <h3 class="title">Tuts+ Sites</h3>
                            <ul>
                                <li><a href="#">Home Page 15</a></li>
                                <li><a href="#">Home Page 16</a></li>
                                <li><a href="#">Home Page 17</a></li>
                                <li><a href="#">Home Page 18</a></li>
                                <li><a href="#">Home Page 19</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-2">
                            <h3 class="title">Social</h3>
                            <ul>
                                <li><a href="#">Home Page 20</a></li>
                                <li><a href="#">Home Page 21</a></li>
                                <li><a href="#">Home Page 22</a></li>
                                <li><a href="#">Home Page 23</a></li>
                                <li><a href="#">Home Page 24</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-2">
                            <h3 class="title">Tuts+ Sites</h3>
                            <ul>
                                <li><a href="#">Home Page 15</a></li>
                                <li><a href="#">Home Page 16</a></li>
                                <li><a href="#">Home Page 17</a></li>
                                <li><a href="#">Home Page 18</a></li>
                                <li><a href="#">Home Page 19</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-2">
                            <h3 class="title">Social</h3>
                            <ul>
                                <li><a href="#">Home Page 20</a></li>
                                <li><a href="#">Home Page 21</a></li>
                                <li><a href="#">Home Page 22</a></li>
                                <li><a href="#">Home Page 23</a></li>
                                <li><a href="#">Home Page 24</a></li>
                            </ul>
                        </div>
                    </li>
                    <!-- end grid demo -->
                </ul>
                <!-- end drop down menu -->
            </li>
            <!-- end list elements -->
            <!-- standard drop down -->
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle"> Features <b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Default Version</a></li>
                    <li class="dropdown-submenu">
                        <a href="#">Envato Sites</a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-submenu">
                                <a href="#">Tuts+</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">PSD Tuts</a></li>
                                    <li><a href="#">CODE Tuts</a></li>
                                </ul>
                            </li>
                            <!-- end dropdown-submenu -->
                            <li><a href="#">We are Envato</a></li>
                            <li><a href="#">Support Center</a></li>
                        </ul>
                        <!-- end dropdown-menu -->
                    </li>
                    <li><a href="#">PhotoDune</a></li>
                    <li class="dropdown-submenu">
                        <a href="#">Envato Sites</a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-submenu">
                                <a href="#">Tuts+</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">PSD Tuts</a></li>
                                    <li><a href="#">CODE Tuts</a></li>
                                </ul>
                            </li>
                            <!-- end dropdown-submenu -->
                            <li><a href="#">We are Envato</a></li>
                            <li><a href="#">Support Center</a></li>
                        </ul>
                        <!-- end dropdown-menu -->
                    </li>
                    <!-- end dropdown-submenu -->
                    <li><a href="#">Creattica</a></li>
                    <li><a href="#">Microlancer</a></li>
                    <li><a href="#">ActiveDen</a></li>
                </ul>
                <!-- end dropdown-menu -->
            </li>
            <!-- end standard drop down -->
            <!-- list elements -->
            <li class="dropdown megamenu-fw">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle"> Pages <b class="caret"></b></a>
                <ul class="dropdown-menu fullwidth">
                    <li class="megamenu-content withdesc">
                        <div class="col-sm-2">
                            <h3 class="title">Support</h3>
                            <ul>
                                <li><a href="#">Home Page 2</a></li>
                                <li><a href="#">Home Page 3</a></li>
                                <li><a href="#">Home Page 3</a></li>
                                <li><a href="#">Home Page 4</a></li>
                                <li><a href="#">Home Page 5</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-2">
                            <h3 class="title">Marketplace</h3>
                            <ul>
                                <li><a href="#">Home Page 6</a></li>
                                <li><a href="#">Home Page 7</a></li>
                                <li><a href="#">Home Page 8</a></li>
                                <li><a href="#">Home Page 9</a></li>
                                <li><a href="#">Home Page 10</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-2">
                            <h3 class="title">Tuts+ Sites</h3>
                            <ul>
                                <li><a href="#">Home Page 15</a></li>
                                <li><a href="#">Home Page 16</a></li>
                                <li><a href="#">Home Page 17</a></li>
                                <li><a href="#">Home Page 18</a></li>
                                <li><a href="#">Home Page 19</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-2">
                            <h3 class="title">Social</h3>
                            <ul>
                                <li><a href="#">Home Page 20</a></li>
                                <li><a href="#">Home Page 21</a></li>
                                <li><a href="#">Home Page 22</a></li>
                                <li><a href="#">Home Page 23</a></li>
                                <li><a href="#">Home Page 24</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-2">
                            <h3 class="title">Tuts+ Sites</h3>
                            <ul>
                                <li><a href="#">Home Page 15</a></li>
                                <li><a href="#">Home Page 16</a></li>
                                <li><a href="#">Home Page 17</a></li>
                                <li><a href="#">Home Page 18</a></li>
                                <li><a href="#">Home Page 19</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-2">
                            <h3 class="title">Social</h3>
                            <ul>
                                <li><a href="#">Home Page 20</a></li>
                                <li><a href="#">Home Page 21</a></li>
                                <li><a href="#">Home Page 22</a></li>
                                <li><a href="#">Home Page 23</a></li>
                                <li><a href="#">Home Page 24</a></li>
                            </ul>
                        </div>
                    </li>
                    <!-- end grid demo -->
                </ul>
                <!-- end drop down menu -->
            </li>
            <!-- end list elements -->
            <!-- standard drop down -->
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle"> Portfolio <b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Default Version</a></li>
                    <li class="dropdown-submenu">
                        <a href="#">Envato Sites</a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-submenu">
                                <a href="#">Tuts+</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">PSD Tuts</a></li>
                                    <li><a href="#">CODE Tuts</a></li>
                                </ul>
                            </li>
                            <!-- end dropdown-submenu -->
                            <li><a href="#">We are Envato</a></li>
                            <li><a href="#">Support Center</a></li>
                        </ul>
                        <!-- end dropdown-menu -->
                    </li>
                    <li><a href="#">PhotoDune</a></li>
                    <li class="dropdown-submenu">
                        <a href="#">Envato Sites</a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-submenu">
                                <a href="#">Tuts+</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">PSD Tuts</a></li>
                                    <li><a href="#">CODE Tuts</a></li>
                                </ul>
                            </li>
                            <!-- end dropdown-submenu -->
                            <li><a href="#">We are Envato</a></li>
                            <li><a href="#">Support Center</a></li>
                        </ul>
                        <!-- end dropdown-menu -->
                    </li>
                    <!-- end dropdown-submenu -->
                    <li><a href="#">Creattica</a></li>
                    <li><a href="#">Microlancer</a></li>
                    <li><a href="#">ActiveDen</a></li>
                </ul>
                <!-- end dropdown-menu -->
            </li>
            <!-- end standard drop down -->
            <!-- standard drop down -->
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle"> Blog <b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Default Version</a></li>
                    <li class="dropdown-submenu">
                        <a href="#">Envato Sites</a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-submenu">
                                <a href="#">Tuts+</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">PSD Tuts</a></li>
                                    <li><a href="#">CODE Tuts</a></li>
                                </ul>
                            </li>
                            <!-- end dropdown-submenu -->
                            <li><a href="#">We are Envato</a></li>
                            <li><a href="#">Support Center</a></li>
                        </ul>
                        <!-- end dropdown-menu -->
                    </li>
                    <li><a href="#">PhotoDune</a></li>
                    <li class="dropdown-submenu">
                        <a href="#">Envato Sites</a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-submenu">
                                <a href="#">Tuts+</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">PSD Tuts</a></li>
                                    <li><a href="#">CODE Tuts</a></li>
                                </ul>
                            </li>
                            <!-- end dropdown-submenu -->
                            <li><a href="#">We are Envato</a></li>
                            <li><a href="#">Support Center</a></li>
                        </ul>
                        <!-- end dropdown-menu -->
                    </li>
                    <!-- end dropdown-submenu -->
                    <li><a href="#">Creattica</a></li>
                    <li><a href="#">Microlancer</a></li>
                    <li><a href="#">ActiveDen</a></li>
                </ul>
                <!-- end dropdown-menu -->
            </li>
            <!-- end standard drop down -->
            <!-- list elements -->
            <li class="dropdown megamenu-fw">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle"> Elements <b class="caret"></b></a>
                <ul class="dropdown-menu fullwidth">
                    <li class="megamenu-content withdesc">
                        <div class="col-sm-2">
                            <h3 class="title">Support</h3>
                            <ul>
                                <li><a href="#">Home Page 2</a></li>
                                <li><a href="#">Home Page 3</a></li>
                                <li><a href="#">Home Page 3</a></li>
                                <li><a href="#">Home Page 4</a></li>
                                <li><a href="#">Home Page 5</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-2">
                            <h3 class="title">Marketplace</h3>
                            <ul>
                                <li><a href="#">Home Page 6</a></li>
                                <li><a href="#">Home Page 7</a></li>
                                <li><a href="#">Home Page 8</a></li>
                                <li><a href="#">Home Page 9</a></li>
                                <li><a href="#">Home Page 10</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-2">
                            <h3 class="title">Tuts+ Sites</h3>
                            <ul>
                                <li><a href="#">Home Page 15</a></li>
                                <li><a href="#">Home Page 16</a></li>
                                <li><a href="#">Home Page 17</a></li>
                                <li><a href="#">Home Page 18</a></li>
                                <li><a href="#">Home Page 19</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-2">
                            <h3 class="title">Social</h3>
                            <ul>
                                <li><a href="#">Home Page 20</a></li>
                                <li><a href="#">Home Page 21</a></li>
                                <li><a href="#">Home Page 22</a></li>
                                <li><a href="#">Home Page 23</a></li>
                                <li><a href="#">Home Page 24</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-2">
                            <h3 class="title">Tuts+ Sites</h3>
                            <ul>
                                <li><a href="#">Home Page 15</a></li>
                                <li><a href="#">Home Page 16</a></li>
                                <li><a href="#">Home Page 17</a></li>
                                <li><a href="#">Home Page 18</a></li>
                                <li><a href="#">Home Page 19</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-2">
                            <h3 class="title">Social</h3>
                            <ul>
                                <li><a href="#">Home Page 20</a></li>
                                <li><a href="#">Home Page 21</a></li>
                                <li><a href="#">Home Page 22</a></li>
                                <li><a href="#">Home Page 23</a></li>
                                <li><a href="#">Home Page 24</a></li>
                            </ul>
                        </div>
                    </li>
                    <!-- end grid demo -->
                </ul>
                <!-- end drop down menu -->
            </li>
            <!-- end list elements -->
            <!-- standard drop down -->
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle"> Contact </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Default Version</a></li>
                    <li><a href="#">Default Version</a></li>
                    <li><a href="#">PhotoDune</a></li>
                    <li><a href="#">Default Version</a></li>
                </ul>
                <!-- end dropdown-menu -->
            </li>
            <!-- end standard drop down -->
        </ul>
        <!-- end nav navbar-nav -->
    </div>
    <!-- end #navbar-collapse-1 -->
</nav>