<div class="pageheader">
    <h3><i class="fa fa-home"></i> Gallery </h3>
    <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li> <a href="#"> Home </a> </li>
            <li class="active"> Gallery </li>
        </ol>
    </div>
</div>
<!--Page content-->
<!--===================================================-->
<div id="page-content">
    <div class="panel-heading">
        <span class="pull-right">
                            <button class="btn btn-default" type="button"><i class="fa fa-upload"></i> Upload</button>
                            <button class="btn btn-default" type="button"><i class="fa fa-edit"></i> Edit </button>
                            <button class="btn btn-default" type="button"><i class="fa fa-trash"></i> Trash</button>
                            </span>
    </div>
    <div class="gamma-container gamma-loading" id="gamma-container">
        <ul class="gamma-gallery">
            <li>
                <div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
                    <div data-src="assets/images/gamma/medium/gallery-1.png" data-min-width="1300"></div>
                    <div data-src="assets/images/gamma/medium/gallery-1.png" data-min-width="1000"></div>
                    <div data-src="assets/images/gamma/medium/gallery-1.png" data-min-width="700"></div>
                    <div data-src="assets/images/gamma/medium/gallery-1.png" data-min-width="300"></div>
                    <div data-src="assets/images/gamma/medium/gallery-1.png" data-min-width="200"></div>
                    <div data-src="assets/images/gamma/medium/gallery-1.png" data-min-width="140"></div>
                    <div data-src="assets/images/gamma/medium/gallery-1.png"></div>
                    <noscript>
                                            <img src="assets/images/gamma/medium/gallery-1.png" alt="img03" />
                                        </noscript>
                </div>
            </li>
            <li>
                <div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
                    <div data-src="assets/images/gamma/medium/gallery-2.png" data-min-width="1300"></div>
                    <div data-src="assets/images/gamma/medium/gallery-2.png" data-min-width="1000"></div>
                    <div data-src="assets/images/gamma/medium/gallery-2.png" data-min-width="700"></div>
                    <div data-src="assets/images/gamma/medium/gallery-2.png" data-min-width="300"></div>
                    <div data-src="assets/images/gamma/medium/gallery-2.png" data-min-width="200"></div>
                    <div data-src="assets/images/gamma/medium/gallery-2.png" data-min-width="140"></div>
                    <div data-src="assets/images/gamma/medium/gallery-2.png"></div>
                    <noscript>
                                            <img src="assets/images/gamma/medium/gallery-2.png" alt="img03" />
                                        </noscript>
                </div>
            </li>
            <li>
                <div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
                    <div data-src="assets/images/gamma/medium/gallery-3.png" data-min-width="1300"></div>
                    <div data-src="assets/images/gamma/medium/gallery-3.png" data-min-width="1000"></div>
                    <div data-src="assets/images/gamma/medium/gallery-3.png" data-min-width="700"></div>
                    <div data-src="assets/images/gamma/medium/gallery-3.png" data-min-width="300"></div>
                    <div data-src="assets/images/gamma/medium/gallery-3.png" data-min-width="200"></div>
                    <div data-src="assets/images/gamma/medium/gallery-3.png" data-min-width="140"></div>
                    <div data-src="assets/images/gamma/medium/gallery-3.png"></div>
                    <noscript>
                                            <img src="assets/images/gamma/medium/gallery-3.png" alt="img03" />
                                        </noscript>
                </div>
            </li>
            <li>
                <div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
                    <div data-src="assets/images/gamma/medium/gallery-4.png" data-min-width="1300"></div>
                    <div data-src="assets/images/gamma/medium/gallery-4.png" data-min-width="1000"></div>
                    <div data-src="assets/images/gamma/medium/gallery-4.png" data-min-width="700"></div>
                    <div data-src="assets/images/gamma/medium/gallery-4.png" data-min-width="300"></div>
                    <div data-src="assets/images/gamma/medium/gallery-4.png" data-min-width="200"></div>
                    <div data-src="assets/images/gamma/medium/gallery-4.png" data-min-width="140"></div>
                    <div data-src="assets/images/gamma/medium/gallery-4.png"></div>
                    <noscript>
                                            <img src="assets/images/gamma/medium/gallery-4.png" alt="img03" />
                                        </noscript>
                </div>
            </li>
            <li>
                <div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
                    <div data-src="assets/images/gamma/medium/gallery-5.png" data-min-width="1300"></div>
                    <div data-src="assets/images/gamma/medium/gallery-5.png" data-min-width="1000"></div>
                    <div data-src="assets/images/gamma/medium/gallery-5.png" data-min-width="700"></div>
                    <div data-src="assets/images/gamma/medium/gallery-5.png" data-min-width="300"></div>
                    <div data-src="assets/images/gamma/medium/gallery-5.png" data-min-width="200"></div>
                    <div data-src="assets/images/gamma/medium/gallery-5.png" data-min-width="140"></div>
                    <div data-src="assets/images/gamma/medium/gallery-5.png"></div>
                    <noscript>
                                            <img src="assets/images/gamma/medium/gallery-5.png" alt="img03" />
                                        </noscript>
                </div>
            </li>
            <li>
                <div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
                    <div data-src="assets/images/gamma/medium/gallery-6.png" data-min-width="1300"></div>
                    <div data-src="assets/images/gamma/medium/gallery-6.png" data-min-width="1000"></div>
                    <div data-src="assets/images/gamma/medium/gallery-6.png" data-min-width="700"></div>
                    <div data-src="assets/images/gamma/medium/gallery-6.png" data-min-width="300"></div>
                    <div data-src="assets/images/gamma/medium/gallery-6.png" data-min-width="200"></div>
                    <div data-src="assets/images/gamma/medium/gallery-6.png" data-min-width="140"></div>
                    <div data-src="assets/images/gamma/medium/gallery-6.png"></div>
                    <noscript>
                                            <img src="assets/images/gamma/medium/gallery-6.png" alt="img03" />
                                        </noscript>
                </div>
            </li>
            <li>
                <div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
                    <div data-src="assets/images/gamma/medium/gallery-7.png" data-min-width="1300"></div>
                    <div data-src="assets/images/gamma/medium/gallery-7.png" data-min-width="1000"></div>
                    <div data-src="assets/images/gamma/medium/gallery-7.png" data-min-width="700"></div>
                    <div data-src="assets/images/gamma/medium/gallery-7.png" data-min-width="300"></div>
                    <div data-src="assets/images/gamma/medium/gallery-7.png" data-min-width="200"></div>
                    <div data-src="assets/images/gamma/medium/gallery-7.png" data-min-width="140"></div>
                    <div data-src="assets/images/gamma/medium/gallery-7.png"></div>
                    <noscript>
                                            <img src="assets/images/gamma/medium/gallery-7.png" alt="img03" />
                                        </noscript>
                </div>
            </li>
            <li>
                <div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
                    <div data-src="assets/images/gamma/medium/gallery-8.png" data-min-width="1300"></div>
                    <div data-src="assets/images/gamma/medium/gallery-8.png" data-min-width="1000"></div>
                    <div data-src="assets/images/gamma/medium/gallery-8.png" data-min-width="700"></div>
                    <div data-src="assets/images/gamma/medium/gallery-8.png" data-min-width="300"></div>
                    <div data-src="assets/images/gamma/medium/gallery-8.png" data-min-width="200"></div>
                    <div data-src="assets/images/gamma/medium/gallery-8.png" data-min-width="140"></div>
                    <div data-src="assets/images/gamma/medium/gallery-8.png"></div>
                    <noscript>
                                            <img src="assets/images/gamma/medium/gallery-8.png" alt="img03" />
                                        </noscript>
                </div>
            </li>
            <li>
                <div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
                    <div data-src="assets/images/gamma/medium/gallery-1.png" data-min-width="1300"></div>
                    <div data-src="assets/images/gamma/medium/gallery-1.png" data-min-width="1000"></div>
                    <div data-src="assets/images/gamma/medium/gallery-1.png" data-min-width="700"></div>
                    <div data-src="assets/images/gamma/medium/gallery-1.png" data-min-width="300"></div>
                    <div data-src="assets/images/gamma/medium/gallery-1.png" data-min-width="200"></div>
                    <div data-src="assets/images/gamma/medium/gallery-1.png" data-min-width="140"></div>
                    <div data-src="assets/images/gamma/medium/gallery-1.png"></div>
                    <noscript>
                                            <img src="assets/images/gamma/medium/gallery-1.png" alt="img03" />
                                        </noscript>
                </div>
            </li>
            <li>
                <div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
                    <div data-src="assets/images/gamma/medium/gallery-2.png" data-min-width="1300"></div>
                    <div data-src="assets/images/gamma/medium/gallery-2.png" data-min-width="1000"></div>
                    <div data-src="assets/images/gamma/medium/gallery-2.png" data-min-width="700"></div>
                    <div data-src="assets/images/gamma/medium/gallery-2.png" data-min-width="300"></div>
                    <div data-src="assets/images/gamma/medium/gallery-2.png" data-min-width="200"></div>
                    <div data-src="assets/images/gamma/medium/gallery-2.png" data-min-width="140"></div>
                    <div data-src="assets/images/gamma/medium/gallery-2.png"></div>
                    <noscript>
                                            <img src="assets/images/gamma/medium/gallery-2.png" alt="img03" />
                                        </noscript>
                </div>
            </li>
            <li>
                <div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
                    <div data-src="assets/images/gamma/medium/gallery-3.png" data-min-width="1300"></div>
                    <div data-src="assets/images/gamma/medium/gallery-3.png" data-min-width="1000"></div>
                    <div data-src="assets/images/gamma/medium/gallery-3.png" data-min-width="700"></div>
                    <div data-src="assets/images/gamma/medium/gallery-3.png" data-min-width="300"></div>
                    <div data-src="assets/images/gamma/medium/gallery-3.png" data-min-width="200"></div>
                    <div data-src="assets/images/gamma/medium/gallery-3.png" data-min-width="140"></div>
                    <div data-src="assets/images/gamma/medium/gallery-3.png"></div>
                    <noscript>
                                            <img src="assets/images/gamma/medium/gallery-3.png" alt="img03" />
                                        </noscript>
                </div>
            </li>
            <li>
                <div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
                    <div data-src="assets/images/gamma/medium/gallery-4.png" data-min-width="1300"></div>
                    <div data-src="assets/images/gamma/medium/gallery-4.png" data-min-width="1000"></div>
                    <div data-src="assets/images/gamma/medium/gallery-4.png" data-min-width="700"></div>
                    <div data-src="assets/images/gamma/medium/gallery-4.png" data-min-width="300"></div>
                    <div data-src="assets/images/gamma/medium/gallery-4.png" data-min-width="200"></div>
                    <div data-src="assets/images/gamma/medium/gallery-4.png" data-min-width="140"></div>
                    <div data-src="assets/images/gamma/medium/gallery-4.png"></div>
                    <noscript>
                                            <img src="assets/images/gamma/medium/gallery-4.png" alt="img03" />
                                        </noscript>
                </div>
            </li>
            <li>
                <div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
                    <div data-src="assets/images/gamma/medium/gallery-5.png" data-min-width="1300"></div>
                    <div data-src="assets/images/gamma/medium/gallery-5.png" data-min-width="1000"></div>
                    <div data-src="assets/images/gamma/medium/gallery-5.png" data-min-width="700"></div>
                    <div data-src="assets/images/gamma/medium/gallery-5.png" data-min-width="300"></div>
                    <div data-src="assets/images/gamma/medium/gallery-5.png" data-min-width="200"></div>
                    <div data-src="assets/images/gamma/medium/gallery-5.png" data-min-width="140"></div>
                    <div data-src="assets/images/gamma/medium/gallery-5.png"></div>
                    <noscript>
                                            <img src="assets/images/gamma/medium/gallery-5.png" alt="img03" />
                                        </noscript>
                </div>
            </li>
            <li>
                <div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
                    <div data-src="assets/images/gamma/medium/gallery-6.png" data-min-width="1300"></div>
                    <div data-src="assets/images/gamma/medium/gallery-6.png" data-min-width="1000"></div>
                    <div data-src="assets/images/gamma/medium/gallery-6.png" data-min-width="700"></div>
                    <div data-src="assets/images/gamma/medium/gallery-6.png" data-min-width="300"></div>
                    <div data-src="assets/images/gamma/medium/gallery-6.png" data-min-width="200"></div>
                    <div data-src="assets/images/gamma/medium/gallery-6.png" data-min-width="140"></div>
                    <div data-src="assets/images/gamma/medium/gallery-6.png"></div>
                    <noscript>
                                            <img src="assets/images/gamma/medium/gallery-6.png" alt="img03" />
                                        </noscript>
                </div>
            </li>
            <li>
                <div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
                    <div data-src="assets/images/gamma/medium/gallery-7.png" data-min-width="1300"></div>
                    <div data-src="assets/images/gamma/medium/gallery-7.png" data-min-width="1000"></div>
                    <div data-src="assets/images/gamma/medium/gallery-7.png" data-min-width="700"></div>
                    <div data-src="assets/images/gamma/medium/gallery-7.png" data-min-width="300"></div>
                    <div data-src="assets/images/gamma/medium/gallery-7.png" data-min-width="200"></div>
                    <div data-src="assets/images/gamma/medium/gallery-7.png" data-min-width="140"></div>
                    <div data-src="assets/images/gamma/medium/gallery-7.png"></div>
                    <noscript>
                                            <img src="assets/images/gamma/medium/gallery-7.png" alt="img03" />
                                        </noscript>
                </div>
            </li>
            <li>
                <div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
                    <div data-src="assets/images/gamma/medium/gallery-8.png" data-min-width="1300"></div>
                    <div data-src="assets/images/gamma/medium/gallery-8.png" data-min-width="1000"></div>
                    <div data-src="assets/images/gamma/medium/gallery-8.png" data-min-width="700"></div>
                    <div data-src="assets/images/gamma/medium/gallery-8.png" data-min-width="300"></div>
                    <div data-src="assets/images/gamma/medium/gallery-8.png" data-min-width="200"></div>
                    <div data-src="assets/images/gamma/medium/gallery-8.png" data-min-width="140"></div>
                    <div data-src="assets/images/gamma/medium/gallery-8.png"></div>
                    <noscript>
                                            <img src="assets/images/gamma/medium/gallery-8.png" alt="img03" />
                                        </noscript>
                </div>
            </li>
            <li>
                <div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
                    <div data-src="assets/images/gamma/medium/gallery-1.png" data-min-width="1300"></div>
                    <div data-src="assets/images/gamma/medium/gallery-1.png" data-min-width="1000"></div>
                    <div data-src="assets/images/gamma/medium/gallery-1.png" data-min-width="700"></div>
                    <div data-src="assets/images/gamma/medium/gallery-1.png" data-min-width="300"></div>
                    <div data-src="assets/images/gamma/medium/gallery-1.png" data-min-width="200"></div>
                    <div data-src="assets/images/gamma/medium/gallery-1.png" data-min-width="140"></div>
                    <div data-src="assets/images/gamma/medium/gallery-1.png"></div>
                    <noscript>
                                            <img src="assets/images/gamma/medium/gallery-1.png" alt="img03" />
                                        </noscript>
                </div>
            </li>
            <li>
                <div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
                    <div data-src="assets/images/gamma/medium/gallery-2.png" data-min-width="1300"></div>
                    <div data-src="assets/images/gamma/medium/gallery-2.png" data-min-width="1000"></div>
                    <div data-src="assets/images/gamma/medium/gallery-2.png" data-min-width="700"></div>
                    <div data-src="assets/images/gamma/medium/gallery-2.png" data-min-width="300"></div>
                    <div data-src="assets/images/gamma/medium/gallery-2.png" data-min-width="200"></div>
                    <div data-src="assets/images/gamma/medium/gallery-2.png" data-min-width="140"></div>
                    <div data-src="assets/images/gamma/medium/gallery-2.png"></div>
                    <noscript>
                                            <img src="assets/images/gamma/medium/gallery-2.png" alt="img03" />
                                        </noscript>
                </div>
            </li>
            <li>
                <div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
                    <div data-src="assets/images/gamma/medium/gallery-3.png" data-min-width="1300"></div>
                    <div data-src="assets/images/gamma/medium/gallery-3.png" data-min-width="1000"></div>
                    <div data-src="assets/images/gamma/medium/gallery-3.png" data-min-width="700"></div>
                    <div data-src="assets/images/gamma/medium/gallery-3.png" data-min-width="300"></div>
                    <div data-src="assets/images/gamma/medium/gallery-3.png" data-min-width="200"></div>
                    <div data-src="assets/images/gamma/medium/gallery-3.png" data-min-width="140"></div>
                    <div data-src="assets/images/gamma/medium/gallery-3.png"></div>
                    <noscript>
                                            <img src="assets/images/gamma/medium/gallery-3.png" alt="img03" />
                                        </noscript>
                </div>
            </li>
            <li>
                <div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
                    <div data-src="assets/images/gamma/medium/gallery-9.png" data-min-width="1300"></div>
                    <div data-src="assets/images/gamma/medium/gallery-9.png" data-min-width="1000"></div>
                    <div data-src="assets/images/gamma/medium/gallery-9.png" data-min-width="700"></div>
                    <div data-src="assets/images/gamma/medium/gallery-9.png" data-min-width="300"></div>
                    <div data-src="assets/images/gamma/medium/gallery-9.png" data-min-width="200"></div>
                    <div data-src="assets/images/gamma/medium/gallery-9.png" data-min-width="140"></div>
                    <div data-src="assets/images/gamma/medium/gallery-9.png"></div>
                    <noscript>
                                            <img src="assets/images/gamma/medium/gallery-9.png" alt="img03" />
                                        </noscript>
                </div>
            </li>
            <li>
                <div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
                    <div data-src="assets/images/gamma/medium/gallery-8.png" data-min-width="1300"></div>
                    <div data-src="assets/images/gamma/medium/gallery-8.png" data-min-width="1000"></div>
                    <div data-src="assets/images/gamma/medium/gallery-8.png" data-min-width="700"></div>
                    <div data-src="assets/images/gamma/medium/gallery-8.png" data-min-width="300"></div>
                    <div data-src="assets/images/gamma/medium/gallery-8.png" data-min-width="200"></div>
                    <div data-src="assets/images/gamma/medium/gallery-8.png" data-min-width="140"></div>
                    <div data-src="assets/images/gamma/medium/gallery-8.png"></div>
                    <noscript>
                                            <img src="assets/images/gamma/medium/gallery-8.png" alt="img03" />
                                        </noscript>
                </div>
            </li>
            <li>
                <div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
                    <div data-src="assets/images/gamma/medium/gallery-1.png" data-min-width="1300"></div>
                    <div data-src="assets/images/gamma/medium/gallery-1.png" data-min-width="1000"></div>
                    <div data-src="assets/images/gamma/medium/gallery-1.png" data-min-width="700"></div>
                    <div data-src="assets/images/gamma/medium/gallery-1.png" data-min-width="300"></div>
                    <div data-src="assets/images/gamma/medium/gallery-1.png" data-min-width="200"></div>
                    <div data-src="assets/images/gamma/medium/gallery-1.png" data-min-width="140"></div>
                    <div data-src="assets/images/gamma/medium/gallery-1.png"></div>
                    <noscript>
                                            <img src="assets/images/gamma/medium/gallery-1.png" alt="img03" />
                                        </noscript>
                </div>
            </li>
            <li>
                <div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
                    <div data-src="assets/images/gamma/medium/gallery-2.png" data-min-width="1300"></div>
                    <div data-src="assets/images/gamma/medium/gallery-2.png" data-min-width="1000"></div>
                    <div data-src="assets/images/gamma/medium/gallery-2.png" data-min-width="700"></div>
                    <div data-src="assets/images/gamma/medium/gallery-2.png" data-min-width="300"></div>
                    <div data-src="assets/images/gamma/medium/gallery-2.png" data-min-width="200"></div>
                    <div data-src="assets/images/gamma/medium/gallery-2.png" data-min-width="140"></div>
                    <div data-src="assets/images/gamma/medium/gallery-2.png"></div>
                    <noscript>
                                            <img src="assets/images/gamma/medium/gallery-2.png" alt="img03" />
                                        </noscript>
                </div>
            </li>
            <li>
                <div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
                    <div data-src="assets/images/gamma/medium/gallery-3.png" data-min-width="1300"></div>
                    <div data-src="assets/images/gamma/medium/gallery-3.png" data-min-width="1000"></div>
                    <div data-src="assets/images/gamma/medium/gallery-3.png" data-min-width="700"></div>
                    <div data-src="assets/images/gamma/medium/gallery-3.png" data-min-width="300"></div>
                    <div data-src="assets/images/gamma/medium/gallery-3.png" data-min-width="200"></div>
                    <div data-src="assets/images/gamma/medium/gallery-3.png" data-min-width="140"></div>
                    <div data-src="assets/images/gamma/medium/gallery-3.png"></div>
                    <noscript>
                                            <img src="assets/images/gamma/medium/gallery-3.png" alt="img03" />
                                        </noscript>
                </div>
            </li>
            <li>
                <div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">
                    <div data-src="assets/images/gamma/medium/gallery-9.png" data-min-width="1300"></div>
                    <div data-src="assets/images/gamma/medium/gallery-9.png" data-min-width="1000"></div>
                    <div data-src="assets/images/gamma/medium/gallery-9.png" data-min-width="700"></div>
                    <div data-src="assets/images/gamma/medium/gallery-9.png" data-min-width="300"></div>
                    <div data-src="assets/images/gamma/medium/gallery-9.png" data-min-width="200"></div>
                    <div data-src="assets/images/gamma/medium/gallery-9.png" data-min-width="140"></div>
                    <div data-src="assets/images/gamma/medium/gallery-9.png"></div>
                    <noscript>
                                            <img src="assets/images/gamma/medium/gallery-9.png" alt="img03" />
                                        </noscript>
                </div>
            </li>
        </ul>
        <div class="gamma-overlay"></div>
        <div id="loadmore" class="loadmore btn btn-default btn-block">loading more items...</div>
    </div>
</div>
<!--===================================================-->
<!--End page content-->