<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div class="pageheader">
    <h3><i class="fa fa-shopping-cart"></i> Shopping Cart </h3>
    <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li> <a href="#"> Home </a> </li>
            <li class="active"> Blank Page </li>
        </ol>
    </div>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->
<!--Page content-->
<!--===================================================-->
<div id="page-content">
    <div class="row">
        <div class="col-md-4">
            <div class="panel">
                <div class="panel-body text-center">
                    <ul class="list-inline nm">
                        <li class="left-easypiechart-data"> <span class="sell-percent">60%</span> <span>Direct Sell</span> </li>
                        <li>
                            <!--Easy Pie Chart-->
                            <!--===================================================-->
                            <div id="demo-pie-2" class="pie-title-center" data-percent="58"> <span class="pie-value text-thin"></span> </div>
                            <!--===================================================-->
                            <!-- End Easy Pie Chart -->
                        </li>
                        <li class="right-easypiechart-data"> <span class="sell-percent">40%</span> <span>Channel Sell</span> </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel">
                <div class="panel-body text-center">
                    <ul class="list-inline nm">
                        <li class="left-easypiechart-data"> <span class="sell-percent">60%</span> <span>Direct Sell</span> </li>
                        <li>
                            <!--Easy Pie Chart-->
                            <!--===================================================-->
                            <div id="demo-pie-3" class="pie-title-center" data-percent="35"> <span class="pie-value text-thin"></span> </div>
                            <!--===================================================-->
                            <!-- End Easy Pie Chart -->
                        </li>
                        <li class="right-easypiechart-data"> <span class="sell-percent">40%</span> <span>Channel Sell</span> </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel">
                <div class="panel-body text-center">
                    <ul class="list-inline nm">
                        <li class="left-easypiechart-data"> <span class="sell-percent">60%</span> <span>Direct Sell</span> </li>
                        <li>
                            <!--Easy Pie Chart-->
                            <!--===================================================-->
                            <div id="demo-pie-4" class="pie-title-center" data-percent="45"> <span class="pie-value text-thin"></span> </div>
                            <!--===================================================-->
                            <!-- End Easy Pie Chart -->
                        </li>
                        <li class="right-easypiechart-data"> <span class="sell-percent">40%</span> <span>Channel Sell</span> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title"> Order Statistics </h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <!-- World Map -->
                        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                        <div id="usa-map-markers" style="height: 200px"></div>
                        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                    </div>
                    <div class="col-md-6">
                        <div class="panel">
                            <div class="panel-body text-center">
                                <p>THIS MONTH TOTAL ORDER ($)</p>
                                <div class="h4 text-primary"> $6,84,545 </div>
                            </div>
                            <div class="panel-footer">
                                <ul class="nav nav-section nav-justified">
                                    <li>
                                        <div class="section">
                                            <div class="h4 text-azure text-bold"> 12560 </div>
                                            <p> Montana </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="section">
                                            <div class="h4 text-mint text-bold"> 5461 </div>
                                            <p> Texas </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="section">
                                            <div class="h4 text-pink text-bold"> 2541 </div>
                                            <p> New York </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Progress bars Start -->
                    <div class="col-sm-6 pad-5">
                        <div class="clearfix"> <span class="pull-left">New York</span> <small class="pull-right">72%</small> </div>
                        <div class="progress progress-striped progress-sm">
                            <div class="progress-bar progress-bar-info" style="width: 55%;"></div>
                        </div>
                    </div>
                    <!-- Progress bars End -->
                    <!-- Progress bars Start -->
                    <div class="col-sm-6 pad-5">
                        <div class="clearfix"> <span class="pull-left"> Montana </span> <small class="pull-right">68%</small> </div>
                        <div class="progress progress-striped progress-sm">
                            <div class="progress-bar progress-bar-info" style="width: 68%;"></div>
                        </div>
                    </div>
                    <!-- Progress bars End -->
                    <!-- Progress bars Start -->
                    <div class="col-sm-6 pad-5">
                        <div class="clearfix"> <span class="pull-left"> Texas </span> <small class="pull-right">58%</small> </div>
                        <div class="progress progress-striped progress-sm">
                            <div class="progress-bar progress-bar-info" style="width: 58%;"></div>
                        </div>
                    </div>
                    <!-- Progress bars End -->
                    <!-- Progress bars Start -->
                    <div class="col-sm-6 pad-5">
                        <div class="clearfix"> <span class="pull-left"> Nevada </span> <small class="pull-right">75%</small> </div>
                        <div class="progress progress-striped progress-sm">
                            <div class="progress-bar progress-bar-info" style="width: 75%;"></div>
                        </div>
                    </div>
                    <!-- Progress bars End -->
                    <!-- Progress bars Start -->
                    <div class="col-sm-6 pad-5">
                        <div class="clearfix"> <span class="pull-left"> New Jersey </span> <small class="pull-right">45%</small> </div>
                        <div class="progress progress-striped progress-sm">
                            <div class="progress-bar progress-bar-info" style="width: 45%;"></div>
                        </div>
                    </div>
                    <!-- Progress bars End -->
                    <!-- Progress bars Start -->
                    <div class="col-sm-6 pad-5">
                        <div class="clearfix"> <span class="pull-left"> California </span> <small class="pull-right">30%</small> </div>
                        <div class="progress progress-striped progress-sm">
                            <div class="progress-bar progress-bar-info" style="width: 30%;"></div>
                        </div>
                    </div>
                    <!-- Progress bars End -->
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title"> Order List </h3>
                </div>
                <div class="panel-body">
                    <!--Default Tabs (Left Aligned)-->
                    <!--===================================================-->
                    <div class="tab-base mar-no">
                        <!--Nav Tabs-->
                        <ul class="nav nav-tabs">
                            <li class="active"> <a data-toggle="tab" href="#demo-lft-tab-1"> New User </a> </li>
                            <li> <a data-toggle="tab" href="#demo-lft-tab-2">New Clients</a> </li>
                            <li> <a data-toggle="tab" href="#demo-lft-tab-3">Invoices</a> </li>
                        </ul>
                        <!--Tabs Content-->
                        <div class="tab-content">
                            <div id="demo-lft-tab-1" class="tab-pane fade active in">
                                <!--Bordered Table-->
                                <!--===================================================-->
                                <div class="table-responsive">
                                    <table class="table table-hover table-vcenter">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Name</th>
                                                <th>Position</th>
                                                <th>Office</th>
                                                <th>start date</th>
                                                <th>Salary</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Albert Desouza</td>
                                                <td><span class="label label-purple">System Architect</span></td>
                                                <td>Edinburgh</td>
                                                <td>2011/04/25</td>
                                                <td>$320,800</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Teresa L. Doe</td>
                                                <td><span class="label label-primary">Pre-Sales Support</span></td>
                                                <td>Edinburgh</td>
                                                <td>2011/04/25</td>
                                                <td>$320,800</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Veronica Gusikowski</td>
                                                <td><span class="label label-danger">Civil Engineer</span></td>
                                                <td>Edinburgh</td>
                                                <td>2011/04/25</td>
                                                <td>$320,800</td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>Bruce Rogahn</td>
                                                <td><span class="label label-success">CEO</span></td>
                                                <td>Edinburgh</td>
                                                <td>2011/04/25</td>
                                                <td>$320,800</td>
                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td>Carolina Hickle</td>
                                                <td><span class="label label-info">Junior accountant</span></td>
                                                <td>Edinburgh</td>
                                                <td>2011/04/25</td>
                                                <td>$320,800</td>
                                            </tr>
                                            <tr>
                                                <td>6</td>
                                                <td>Semantha</td>
                                                <td><span class="label label-warning">System Architect</span></td>
                                                <td>London</td>
                                                <td>2012/04/25</td>
                                                <td>$320,800</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!--===================================================-->
                                <!--End Bordered Table-->
                            </div>
                            <div id="demo-lft-tab-2" class="tab-pane fade">
                                <table class="table table-hover table-vcenter">
                                    <thead>
                                        <tr>
                                            <th>Customer Name</th>
                                            <th>Total Orders</th>
                                            <th class="text-center">Total Amount</th>
                                            <th>Delivery date</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>David Wilson</td>
                                            <td> 10 </td>
                                            <td class="text-center">$2000</td>
                                            <td>2012/04/25</td>
                                            <td>
                                                <div class="label label-table label-info">On Process</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Amanda Nilson</td>
                                            <td> 20 </td>
                                            <td class="text-center">$4500</td>
                                            <td>2012/04/25</td>
                                            <td>
                                                <div class="label label-table label-danger">pending</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Jhon Doe</td>
                                            <td> 30 </td>
                                            <td class="text-center">$5600</td>
                                            <td>2012/04/25</td>
                                            <td>
                                                <div class="label label-table label-success">Shipped</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Bill Chang</td>
                                            <td> 45 </td>
                                            <td class="text-center">$7500</td>
                                            <td>2012/04/25</td>
                                            <td>
                                                <div class="label label-table label-danger">Pending</div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div id="demo-lft-tab-3" class="tab-pane fade">
                                <table class="table table-hover table-vcenter">
                                    <thead>
                                        <tr>
                                            <th>Invoice</th>
                                            <th>Name</th>
                                            <th class="text-center">Value</th>
                                            <th>Delivery date</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Order #53451</td>
                                            <td>
                                                <span class="text-semibold">Desktop</span>
                                                <br>
                                                <small class="text-muted">Last 7 days : 4,234k</small>
                                            </td>
                                            <td class="text-center">$250</td>
                                            <td>2012/04/25</td>
                                            <td>
                                                <div class="label label-table label-info">On Process</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Order #53451</td>
                                            <td>
                                                <span class="text-semibold">Laptop</span>
                                                <br>
                                                <small class="text-muted">Last 7 days : 3,876k</small>
                                            </td>
                                            <td class="text-center">$350</td>
                                            <td>2012/04/25</td>
                                            <td>
                                                <div class="label label-table label-danger">Cancelled</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Order #53451</td>
                                            <td>
                                                <span class="text-semibold">Tablet</span>
                                                <br>
                                                <small class="text-muted">Last 7 days : 45,678k</small>
                                            </td>
                                            <td class="text-center">$325</td>
                                            <td>2012/04/25</td>
                                            <td>
                                                <div class="label label-table label-success">Shipped</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Order #53451</td>
                                            <td>
                                                <span class="text-semibold">Smartphone</span>
                                                <br>
                                                <small class="text-muted">Last 7 days : 34,553k</small>
                                            </td>
                                            <td class="text-center">$250</td>
                                            <td>2012/04/25</td>
                                            <td>
                                                <div class="label label-table label-warning">Pending</div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--===================================================-->
                    <!--End Default Tabs (Left Aligned)-->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Top Countries</h3>
                </div>
                <!-- Striped Table -->
                <!-- =================================================== -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Country</th>
                                    <th>Unique User</th>
                                    <th>Pageviews</th>
                                    <th>Changes</th>
                                    <th>New Vs. Return</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>AAC</td>
                                    <td>USA</td>
                                    <td>10256</td>
                                    <td>45623</td>
                                    <td>45.12%</td>
                                    <td>
                                        <div class="progress progress-striped progress-md">
                                            <div style="width: 65%" class="progress-bar progress-bar-success">
                                                <span class="sr-only">65% Complete (success)</span>
                                            </div>
                                            <div style="width: 35%" class="progress-bar progress-bar-info">
                                                <span class="sr-only">35% Complete (warning)</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>AAD</td>
                                    <td>India</td>
                                    <td>15246</td>
                                    <td>36542</td>
                                    <td>32.52%</td>
                                    <td>
                                        <div class="progress progress-striped progress-md">
                                            <div style="width: 35%" class="progress-bar progress-bar-success">
                                                <span class="sr-only">35% Complete (success)</span>
                                            </div>
                                            <div style="width: 65%" class="progress-bar progress-bar-info">
                                                <span class="sr-only">65% Complete (warning)</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>AAX</td>
                                    <td>USA</td>
                                    <td>25410</td>
                                    <td>48596</td>
                                    <td>20.25%</td>
                                    <td>
                                        <div class="progress progress-striped progress-md">
                                            <div style="width: 35%" class="progress-bar progress-bar-success">
                                                <span class="sr-only">35% Complete (success)</span>
                                            </div>
                                            <div style="width: 65%" class="progress-bar progress-bar-info">
                                                <span class="sr-only">65% Complete (warning)</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>ABC</td>
                                    <td>China</td>
                                    <td>35120</td>
                                    <td>52412</td>
                                    <td>12.02%</td>
                                    <td>
                                        <div class="progress progress-striped progress-md">
                                            <div style="width: 55%" class="progress-bar progress-bar-success">
                                                <span class="sr-only">55% Complete (success)</span>
                                            </div>
                                            <div style="width: 45%" class="progress-bar progress-bar-info">
                                                <span class="sr-only">45% Complete (warning)</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>ABP</td>
                                    <td>Australia</td>
                                    <td>40125</td>
                                    <td>65042</td>
                                    <td>48.25%</td>
                                    <td>
                                        <div class="progress progress-striped progress-md">
                                            <div style="width: 25%" class="progress-bar progress-bar-success">
                                                <span class="sr-only">25% Complete (success)</span>
                                            </div>
                                            <div style="width: 75%" class="progress-bar progress-bar-info">
                                                <span class="sr-only">75% Complete (warning)</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>BAP</td>
                                    <td>USA</td>
                                    <td>65700</td>
                                    <td>95780</td>
                                    <td>32.52%</td>
                                    <td>
                                        <div class="progress progress-striped progress-md">
                                            <div style="width: 15%" class="progress-bar progress-bar-success">
                                                <span class="sr-only">15% Complete (success)</span>
                                            </div>
                                            <div style="width: 85%" class="progress-bar progress-bar-info">
                                                <span class="sr-only">85% Complete (warning)</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- =================================================== -->
                <!-- End Striped Table -->
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Last 5 Transaction</h3>
                </div>
                <!-- Bordered Table -->
                <!-- =================================================== -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Payee Names</th>
                                    <th>Amount</th>
                                    <th>Description</th>
                                    <th>Date/Time</th>
                                    <th>Fees</th>
                                    <th>Manager</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Albert Desouza</td>
                                    <td>$320,800</td>
                                    <td>Dont forget about fee</td>
                                    <td>20.01.2014 16:24</td>
                                    <td>$64.58</td>
                                    <td>John Doe</td>
                                </tr>
                                <tr>
                                    <td>Teresa L. Doe</td>
                                    <td>$320,800</td>
                                    <td>Delivery... </td>
                                    <td>20.01.2014 12:24</td>
                                    <td>$45.58</td>
                                    <td>John Doe</td>
                                </tr>
                                <tr>
                                    <td>Veronica Gusikowski</td>
                                    <td>$320,800</td>
                                    <td>Will pay by cash</td>
                                    <td>20.01.2014 05:24</td>
                                    <td>$65.25</td>
                                    <td>John Doe</td>
                                </tr>
                                <tr>
                                    <td>Bruce Rogahn</td>
                                    <td>$320,800</td>
                                    <td>Call Me..</td>
                                    <td>20.01.2014 08:24</td>
                                    <td>$35.26</td>
                                    <td>John Doe</td>
                                </tr>
                                <tr>
                                    <td>Carolina Hickle</td>
                                    <td>$320,800</td>
                                    <td>Empty</td>
                                    <td>20.01.2014 12:24</td>
                                    <td>$25.21</td>
                                    <td>John Doe</td>
                                </tr>
                                <tr>
                                    <td>Semantha</td>
                                    <td>$320,800</td>
                                    <td>Still Pending</td>
                                    <td>20.01.2014 19:24</td>
                                    <td>$16.52</td>
                                    <td>John Doe</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- =================================================== -->
                <!-- End Bordered Table -->
            </div>
        </div>
    </div>
</div>
<!--===================================================-->
<!--End page content-->