<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<header class="pageheader">
    <h3><i class="fa fa-home"></i> Panel </h3>
    <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li> <a href="#"> Home </a> </li>
            <li class="active"> Panel </li>
        </ol>
    </div>
</header>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->
<!--Page content-->
<!--===================================================-->
<div id="page-content">
    <div class="row">
        <div class="col-lg-6 grid">
            <!--Panel with Switcher-->
            <!--===================================================-->
            <div class="panel">
                <!--Panel heading-->
                <div class="panel-heading">
                    <div class="panel-control">
                        <button type="button" class="btn btn-info btn-icon icon-lg fa fa-trash"></button>
                        <button type="button" class="btn btn-danger btn-icon icon-lg fa fa-cog"></button>
                    </div>
                    <h3 class="panel-title">With Icon Button</h3>
                </div>
                <!--Panel body-->
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <!--===================================================-->
            <!--End of Panel with Switcher-->
            <!--Panel with Buttons-->
            <!--===================================================-->
            <div class="panel">
                <!--Panel heading-->
                <div class="panel-heading">
                    <div class="panel-control">
                        <div class="btn-group">
                            <button data-toggle="dropdown" class="dropdown-toggle btn btn-info">
                                                <i class="fa fa-gear fa-lg"></i>
                                                </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </div>
                    <h3 class="panel-title">With Dropdown buttons</h3>
                </div>
                <!--Panel body-->
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <!--===================================================-->
            <!--End of Panel with Buttons-->
            <!--Panel with Progress bar-->
            <!--===================================================-->
            <div class="panel">
                <!--Panel heading-->
                <div class="panel-heading">
                    <div class="panel-control">
                        <div class="progress progress-md">
                            <div style="width: 70%" class="progress-bar progress-bar-primary progress-bar-striped active"></div>
                        </div>
                    </div>
                    <h3 class="panel-title">With progress bar</h3>
                </div>
                <!--Panel body-->
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <!--===================================================-->
            <!--End panel with Progress bar-->
            <!--Panel with Pager-->
            <!--===================================================-->
            <div class="panel">
                <!--Panel heading-->
                <div class="panel-heading">
                    <div class="panel-control">
                        <ul class="pager pager-rounded">
                            <li><a href="#">Previous</a></li>
                            <li><a href="#">Next</a></li>
                        </ul>
                    </div>
                    <h3 class="panel-title">With pager</h3>
                </div>
                <!--Panel body-->
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <!--===================================================-->
            <!--End Panel with Pager-->
            <!--Panel with Text-->
            <!--===================================================-->
            <div class="panel">
                <!--Panel heading-->
                <div class="panel-heading">
                    <div class="panel-control">
                        <div class="btn-group">
                            <button type="button" class="btn btn-xs btn-default"> <i class="fa fa-backward"></i> </button>
                            <button type="button" class="btn btn-xs btn-default"> <i class="fa fa-play"></i> </button>
                            <button type="button" class="btn btn-xs btn-default"> <i class="fa fa-pause"></i> </button>
                            <button type="button" class="btn btn-xs btn-default"> <i class="fa fa-forward"></i> </button>
                        </div>
                    </div>
                    <h3 class="panel-title">With text</h3>
                </div>
                <!--Panel body-->
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <!--===================================================-->
            <!--End Panel with Text-->
            <!--Panel with Table-->
            <!--===================================================-->
            <div class="panel">
                <!--Panel heading-->
                <div class="panel-heading">
                    <h3 class="panel-title">With table</h3>
                </div>
                <!--Default panel contents-->
                <div class="panel-body">
                    <p>Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur.</p>
                </div>
                <!--Table-->
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">1</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <td class="text-center">2</td>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <td class="text-center">3</td>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        <tr>
                            <td class="text-center">4</td>
                            <td>Tom</td>
                            <td>the Bird</td>
                            <td>@tom</td>
                        </tr>
                        <tr>
                            <td class="text-center">5</td>
                            <td>Harry</td>
                            <td>the Bird</td>
                            <td>@harry</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--===================================================-->
            <!--End Panel with Table-->
        </div>
        <div class="col-lg-6 grid">
            <!--Panel with Button Group-->
            <!--===================================================-->
            <div class="panel">
                <!--Panel heading-->
                <div class="panel-heading">
                    <div class="panel-control">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-info">Left</button>
                            <button type="button" class="btn btn-sm btn-info">Middle</button>
                            <button type="button" class="btn btn-sm btn-info">Right</button>
                        </div>
                    </div>
                    <h3 class="panel-title">Button Group</h3>
                </div>
                <!--Panel body-->
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <!--===================================================-->
            <!--End of Panel with Button Group-->
            <!--Split Buttons Dropdown-->
            <!--===================================================-->
            <div id="demo-panel-w-alert" class="panel">
                <!--Panel heading-->
                <div class="panel-heading">
                    <div class="panel-control">
                        <div class="btn-group">
                            <button class="btn btn-danger">Action</button>
                            <button class="btn btn-danger dropdown-toggle dropdown-toggle-icon" data-toggle="dropdown" type="button">
                                                <i class="dropdown-caret fa fa-caret-down"></i>
                                                </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </div>
                    <h3 class="panel-title">With buttons</h3>
                </div>
                <!--Panel body-->
                <div class="panel-body">
                    <button id="demo-panel-alert" class="btn btn-sm btn-primary">Panel alert</button>
                    <button id="demo-panel-alert2" class="btn btn-sm btn-danger">Panel Sticky alert</button>
                </div>
            </div>
            <!--===================================================-->
            <!--End panel with variety of components-->
            <!--Panel with Switcher-->
            <!--===================================================-->
            <div class="panel">
                <!--Panel heading-->
                <div class="panel-heading">
                    <div class="panel-control">
                        <input id="demo-panel-w-switch" type="checkbox" checked />
                    </div>
                    <h3 class="panel-title">With switcher</h3>
                </div>
                <!--Panel body-->
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <!--===================================================-->
            <!--End of Panel with Switcher-->
            <!--Panel with Pagination-->
            <!--===================================================-->
            <div class="panel">
                <!--Panel heading-->
                <div class="panel-heading">
                    <div class="panel-control">
                        <ul class="pagination">
                            <li class="disabled"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                        </ul>
                    </div>
                    <h3 class="panel-title">With pagination</h3>
                </div>
                <!--Panel body-->
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <!--===================================================-->
            <!--End Panel with Pagination-->
            <!--Panel with List Group-->
            <!--===================================================-->
            <div class="panel">
                <!--Panel heading-->
                <div class="panel-heading">
                    <h3 class="panel-title">With list groups</h3>
                </div>
                <!--Default panel contents-->
                <div class="panel-body">
                    <p>Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur.</p>
                </div>
                <!--List group-->
                <ul class="list-group">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
            <!--===================================================-->
            <!--End Panel with List Group-->
            <!--Collapsed Panel by default-->
            <!--===================================================-->
            <div class="panel">
                <!--Panel heading-->
                <div class="panel-heading">
                    <div class="panel-control">
                        <button class="btn btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></button>
                        <button class="btn btn-default" data-click="panel-reload"><i class="fa fa-refresh"></i></button>
                        <button class="btn btn-default" data-click="panel-collapse"><i class="fa fa-chevron-down"></i></button>
                        <button class="btn btn-default" data-dismiss="panel"><i class="fa fa-times"></i></button>
                    </div>
                    <h3 class="panel-title">Collapsed by default</h3>
                </div>
                <!--Panel body-->
                <div class="panel-body">
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex
                        ea commodo consequat.
                    </p>
                </div>
            </div>
            <!--===================================================-->
            <!--End Collapsed Panel by default-->
        </div>
    </div>
    <br>
    <h3 class="text-thin">Colored</h3>
    <br>
    <div class="row">
        <div class="col-sm-4 grid">
            <!--Primary panel-->
            <!--===================================================-->
            <div class="panel panel-bordered panel-primary">
                <div class="panel-heading">
                    <div class="panel-control">
                        <button class="btn btn-primary" data-click="panel-expand"><i class="fa fa-expand"></i></button>
                        <button class="btn btn-primary" data-click="panel-reload"><i class="fa fa-refresh"></i></button>
                        <button class="btn btn-primary" data-click="panel-collapse"><i class="fa fa-chevron-down"></i></button>
                        <button class="btn btn-primary" data-dismiss="panel"><i class="fa fa-times"></i></button>
                    </div>
                    <h3 class="panel-title">Primary</h3>
                </div>
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <!--===================================================-->
            <!--End Primary Panel-->
            <!--Info Panel-->
            <!--===================================================-->
            <div class="panel panel-bordered panel-info">
                <div class="panel-heading">
                    <div class="panel-control">
                        <button class="btn btn-info" data-click="panel-expand"><i class="fa fa-expand"></i></button>
                        <button class="btn btn-info" data-click="panel-reload"><i class="fa fa-refresh"></i></button>
                        <button class="btn btn-info" data-click="panel-collapse"><i class="fa fa-chevron-down"></i></button>
                        <button class="btn btn-info" data-dismiss="panel"><i class="fa fa-times"></i></button>
                    </div>
                    <h3 class="panel-title">Info</h3>
                </div>
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <!--===================================================-->
            <!--End Info Panel-->
            <!--Success Panel-->
            <!--===================================================-->
            <div class="panel panel-bordered panel-success">
                <div class="panel-heading">
                    <div class="panel-control">
                        <button class="btn btn-success" data-click="panel-expand"><i class="fa fa-expand"></i></button>
                        <button class="btn btn-success" data-click="panel-reload"><i class="fa fa-refresh"></i></button>
                        <button class="btn btn-success" data-click="panel-collapse"><i class="fa fa-chevron-down"></i></button>
                        <button class="btn btn-success" data-dismiss="panel"><i class="fa fa-times"></i></button>
                    </div>
                    <h3 class="panel-title">Success</h3>
                </div>
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <!--===================================================-->
            <!--End Success Panel-->
        </div>
        <div class="col-sm-4 grid">
            <!--Mint Panel-->
            <!--===================================================-->
            <div class="panel panel-bordered panel-mint">
                <div class="panel-heading">
                    <div class="panel-control">
                        <button class="btn btn-mint" data-click="panel-expand"><i class="fa fa-expand"></i></button>
                        <button class="btn btn-mint" data-click="panel-reload"><i class="fa fa-refresh"></i></button>
                        <button class="btn btn-mint" data-click="panel-collapse"><i class="fa fa-chevron-down"></i></button>
                        <button class="btn btn-mint" data-dismiss="panel"><i class="fa fa-times"></i></button>
                    </div>
                    <h3 class="panel-title">Mint</h3>
                </div>
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <!--===================================================-->
            <!--End Mint Panel-->
            <!--Warning Panel-->
            <!--===================================================-->
            <div class="panel panel-bordered panel-warning">
                <div class="panel-heading">
                    <div class="panel-control">
                        <button class="btn btn-warning" data-click="panel-expand"><i class="fa fa-expand"></i></button>
                        <button class="btn btn-warning" data-click="panel-reload"><i class="fa fa-refresh"></i></button>
                        <button class="btn btn-warning" data-click="panel-collapse"><i class="fa fa-chevron-down"></i></button>
                        <button class="btn btn-warning" data-dismiss="panel"><i class="fa fa-times"></i></button>
                    </div>
                    <h3 class="panel-title">Warning</h3>
                </div>
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <!--===================================================-->
            <!--End Primary Panel-->
            <!--Danger Panel-->
            <!--===================================================-->
            <div class="panel panel-bordered panel-danger">
                <div class="panel-heading">
                    <div class="panel-control">
                        <button class="btn btn-danger" data-click="panel-expand"><i class="fa fa-expand"></i></button>
                        <button class="btn btn-danger" data-click="panel-reload"><i class="fa fa-refresh"></i></button>
                        <button class="btn btn-danger" data-click="panel-collapse"><i class="fa fa-chevron-down"></i></button>
                        <button class="btn btn-danger" data-dismiss="panel"><i class="fa fa-times"></i></button>
                    </div>
                    <h3 class="panel-title">Danger</h3>
                </div>
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <!--===================================================-->
            <!--End Danger Panel-->
        </div>
        <div class="col-sm-4 grid">
            <!--Pink Panel-->
            <!--===================================================-->
            <div class="panel panel-bordered panel-pink">
                <div class="panel-heading">
                    <div class="panel-control">
                        <button class="btn btn-pink" data-click="panel-expand"><i class="fa fa-expand"></i></button>
                        <button class="btn btn-pink" data-click="panel-reload"><i class="fa fa-refresh"></i></button>
                        <button class="btn btn-pink" data-click="panel-collapse"><i class="fa fa-chevron-down"></i></button>
                        <button class="btn btn-pink" data-dismiss="panel"><i class="fa fa-times"></i></button>
                    </div>
                    <h3 class="panel-title">Pink</h3>
                </div>
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <!--===================================================-->
            <!--End Pink Panel-->
            <!--Purple Panel-->
            <!--===================================================-->
            <div class="panel panel-bordered panel-purple">
                <div class="panel-heading">
                    <div class="panel-control">
                        <button class="btn btn-purple" data-click="panel-expand"><i class="fa fa-expand"></i></button>
                        <button class="btn btn-purple" data-click="panel-reload"><i class="fa fa-refresh"></i></button>
                        <button class="btn btn-purple" data-click="panel-collapse"><i class="fa fa-chevron-down"></i></button>
                        <button class="btn btn-purple" data-dismiss="panel"><i class="fa fa-times"></i></button>
                    </div>
                    <h3 class="panel-title">Purple</h3>
                </div>
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <!--===================================================-->
            <!--End Purple Panel-->
            <!--Dark Panel-->
            <!--===================================================-->
            <div class="panel panel-bordered panel-dark">
                <div class="panel-heading">
                    <div class="panel-control">
                        <button class="btn btn-dark" data-click="panel-expand"><i class="fa fa-expand"></i></button>
                        <button class="btn btn-dark" data-click="panel-reload"><i class="fa fa-refresh"></i></button>
                        <button class="btn btn-dark" data-click="panel-collapse"><i class="fa fa-chevron-down"></i></button>
                        <button class="btn btn-dark" data-dismiss="panel"><i class="fa fa-times"></i></button>
                    </div>
                    <h3 class="panel-title">Dark</h3>
                </div>
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <!--===================================================-->
            <!--End Dark Panel-->
        </div>
    </div>
    <br>
    <hr>
    <br>
    <div class="row demo-jasmine-panel">
        <div class="col-sm-4 grid">
            <!--Primary Panel-->
            <!--===================================================-->
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-control">
                        <button class="btn btn-primary" data-click="panel-expand"><i class="fa fa-expand"></i></button>
                        <button class="btn btn-primary" data-click="panel-reload"><i class="fa fa-refresh"></i></button>
                        <button class="btn btn-primary" data-click="panel-collapse"><i class="fa fa-chevron-down"></i></button>
                        <button class="btn btn-primary" data-dismiss="panel"><i class="fa fa-times"></i></button>
                    </div>
                    <h3 class="panel-title">Primary</h3>
                </div>
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <!--===================================================-->
            <!--End Primary Panel-->
            <!--Info Panel-->
            <!--===================================================-->
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-control">
                        <button class="btn btn-info" data-click="panel-expand"><i class="fa fa-expand"></i></button>
                        <button class="btn btn-info" data-click="panel-reload"><i class="fa fa-refresh"></i></button>
                        <button class="btn btn-info" data-click="panel-collapse"><i class="fa fa-chevron-down"></i></button>
                        <button class="btn btn-info" data-dismiss="panel"><i class="fa fa-times"></i></button>
                    </div>
                    <h3 class="panel-title">Info</h3>
                </div>
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <!--===================================================-->
            <!--End Info Panel-->
            <!--Success Panel-->
            <!--===================================================-->
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="panel-control">
                        <button class="btn btn-success" data-click="panel-expand"><i class="fa fa-expand"></i></button>
                        <button class="btn btn-success" data-click="panel-reload"><i class="fa fa-refresh"></i></button>
                        <button class="btn btn-success" data-click="panel-collapse"><i class="fa fa-chevron-down"></i></button>
                        <button class="btn btn-success" data-dismiss="panel"><i class="fa fa-times"></i></button>
                    </div>
                    <h3 class="panel-title">Success</h3>
                </div>
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <!--===================================================-->
            <!--End Success Panel-->
        </div>
        <div class="col-sm-4 grid">
            <!--Mint Panel-->
            <!--===================================================-->
            <div class="panel panel-mint">
                <div class="panel-heading">
                    <div class="panel-control">
                        <button class="btn btn-mint" data-click="panel-expand"><i class="fa fa-expand"></i></button>
                        <button class="btn btn-mint" data-click="panel-reload"><i class="fa fa-refresh"></i></button>
                        <button class="btn btn-mint" data-click="panel-collapse"><i class="fa fa-chevron-down"></i></button>
                        <button class="btn btn-mint" data-dismiss="panel"><i class="fa fa-times"></i></button>
                    </div>
                    <h3 class="panel-title">Mint</h3>
                </div>
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <!--===================================================-->
            <!--End Mint Panel-->
            <!--Warning Panel-->
            <!--===================================================-->
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <div class="panel-control">
                        <button class="btn btn-warning" data-click="panel-expand"><i class="fa fa-expand"></i></button>
                        <button class="btn btn-warning" data-click="panel-reload"><i class="fa fa-refresh"></i></button>
                        <button class="btn btn-warning" data-click="panel-collapse"><i class="fa fa-chevron-down"></i></button>
                        <button class="btn btn-warning" data-dismiss="panel"><i class="fa fa-times"></i></button>
                    </div>
                    <h3 class="panel-title">Warning</h3>
                </div>
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <!--===================================================-->
            <!--End Warning Panel-->
            <!--Danger Panel-->
            <!--===================================================-->
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <div class="panel-control">
                        <button class="btn btn-danger" data-click="panel-expand"><i class="fa fa-expand"></i></button>
                        <button class="btn btn-danger" data-click="panel-reload"><i class="fa fa-refresh"></i></button>
                        <button class="btn btn-danger" data-click="panel-collapse"><i class="fa fa-chevron-down"></i></button>
                        <button class="btn btn-danger" data-dismiss="panel"><i class="fa fa-times"></i></button>
                    </div>
                    <h3 class="panel-title">Danger</h3>
                </div>
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <!--===================================================-->
            <!--End Danger Panel-->
        </div>
        <div class="col-sm-4 grid">
            <!--Pink Panel-->
            <!--===================================================-->
            <div class="panel panel-pink">
                <div class="panel-heading">
                    <div class="panel-control">
                        <button class="btn btn-pink" data-click="panel-expand"><i class="fa fa-expand"></i></button>
                        <button class="btn btn-pink" data-click="panel-reload"><i class="fa fa-refresh"></i></button>
                        <button class="btn btn-pink" data-click="panel-collapse"><i class="fa fa-chevron-down"></i></button>
                        <button class="btn btn-pink" data-dismiss="panel"><i class="fa fa-times"></i></button>
                    </div>
                    <h3 class="panel-title">Pink</h3>
                </div>
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <!--===================================================-->
            <!--End Pink Panel-->
            <!--Purple Panel-->
            <!--===================================================-->
            <div class="panel panel-purple">
                <div class="panel-heading">
                    <div class="panel-control">
                        <button class="btn btn-purple" data-click="panel-expand"><i class="fa fa-expand"></i></button>
                        <button class="btn btn-purple" data-click="panel-reload"><i class="fa fa-refresh"></i></button>
                        <button class="btn btn-purple" data-click="panel-collapse"><i class="fa fa-chevron-down"></i></button>
                        <button class="btn btn-purple" data-dismiss="panel"><i class="fa fa-times"></i></button>
                    </div>
                    <h3 class="panel-title">Purple</h3>
                </div>
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <!--===================================================-->
            <!--End Purple Panel-->
            <!--Dark Panel-->
            <!--===================================================-->
            <div class="panel panel-dark">
                <div class="panel-heading">
                    <div class="panel-control">
                        <button class="btn btn-dark" data-click="panel-expand"><i class="fa fa-expand"></i></button>
                        <button class="btn btn-dark" data-click="panel-reload"><i class="fa fa-refresh"></i></button>
                        <button class="btn btn-dark" data-click="panel-collapse"><i class="fa fa-chevron-down"></i></button>
                        <button class="btn btn-dark" data-dismiss="panel"><i class="fa fa-times"></i></button>
                    </div>
                    <h3 class="panel-title">Dark</h3>
                </div>
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <!--===================================================-->
            <!--End Dark Panel-->
        </div>
    </div>
</div>
<!--===================================================-->
<!--End page content-->