<header class="pageheader">
    <h3><i class="fa fa-home"></i> Mail Compose </h3>
    <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li> <a href="#"> Home </a> </li>
            <li class="active"> Mail Compose </li>
        </ol>
    </div>
</header>
<!--Page content-->
<!--===================================================-->
<div id="page-content">
    <div class="row">
        <div class="col-xs-12 col-md-3 col-lg-3">
            <div class="mail-categories">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="javascript:;"> <i class="fa fa-inbox"></i> Inbox <span class="label label-info pull-right">6</span> </a>
                    </li>
                    <li class="list-group-item">
                        <a href="javascript:;"> <i class="fa fa-envelope-o"></i> Send mail </a>
                    </li>
                    <li class="list-group-item">
                        <a href="javascript:;"> <i class="fa fa-star"></i> Starred <span class="label label-danger pull-right">3</span> </a>
                    </li>
                    <li class="list-group-item">
                        <a href="javascript:;"> <i class="fa fa-comment-o"></i> Chat <span class="label label-success pull-right">9</span> </a>
                    </li>
                    <li class="list-group-item">
                        <a href="javascript:;"> <i class="fa fa-pencil"></i> Draft <span class="label label-warning pull-right">1</span> </a>
                    </li>
                    <li class="list-group-item">
                        <a href="javascript:;"> <i class="fa fa-trash-o"></i> Spam </a>
                    </li>
                </ul>
            </div>
            <div class="mail-categories">
                <ul class="list-group">
                    <li class="list-group-item"><a href="javascript:;"> Work <i class="fa fa-circle pull-right"></i> </a></li>
                    <li class="list-group-item"><a href="javascript:;"> Friends <i class="fa fa-circle pull-right"></i> </a></li>
                    <li class="list-group-item"><a href="javascript:;"> Family <i class="fa fa-circle pull-right"></i> </a></li>
                    <li class="list-group-item"><a href="javascript:;"> Private <i class="fa fa-circle pull-right"></i> </a></li>
                    <li class="list-group-item"><a href="javascript:;"> Classmates <i class="fa fa-circle pull-right"></i> </a></li>
                </ul>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <h4 class="panel-title"> <i class="fa fa-users"></i> Online Friends </h4>
                </div>
                <div class="panel-body">
                    <ul class="list-inline">
                        <li>
                            <a href="javascript:void(0)" class="pull-left avatar">
                                <img src="assets/images/av1.png" alt="" class="img-sm">
                                <i class="on bottom text-light"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="pull-left avatar">
                                <img src="assets/images/av2.png" alt="" class="img-sm">
                                <i class="on bottom text-light"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="pull-left avatar">
                                <img src="assets/images/av3.png" alt="" class="img-sm">
                                <i class="busy bottom text-light"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="pull-left avatar">
                                <img src="assets/images/av4.png" alt="" class="img-sm">
                                <i class="busy bottom text-light"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="pull-left avatar">
                                <img src="assets/images/av5.png" alt="" class="img-sm">
                                <i class="on bottom text-light"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="pull-left avatar">
                                <img src="assets/images/av6.png" alt="" class="img-sm">
                                <i class="on bottom text-light"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="pull-left avatar">
                                <img src="assets/images/av7.png" alt="" class="img-sm">
                                <i class="busy bottom text-light"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="pull-left avatar">
                                <img src="assets/images/av1.png" alt="" class="img-sm">
                                <i class="on bottom text-light"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="pull-left avatar">
                                <img src="assets/images/av2.png" alt="" class="img-sm">
                                <i class="on bottom text-light"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="pull-left avatar">
                                <img src="assets/images/av3.png" alt="" class="img-sm">
                                <i class="on bottom text-light"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="pull-left avatar">
                                <img src="assets/images/av4.png" alt="" class="img-sm">
                                <i class="busy bottom text-light"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="pull-left avatar">
                                <img src="assets/images/av5.png" alt="" class="img-sm">
                                <i class="busy bottom text-light"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="pull-left avatar">
                                <img src="assets/images/av6.png" alt="" class="img-sm">
                                <i class="on bottom text-light"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="pull-left avatar">
                                <img src="assets/images/av7.png" alt="" class="img-sm">
                                <i class="on bottom text-light"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="pull-left avatar">
                                <img src="assets/images/av4.png" alt="" class="img-sm">
                                <i class="on bottom text-light"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-9 col-lg-9">
            <div class="panel">
                <div class="panel-body">
                    <!-- Multiple Select Choosen -->
                    <!--===================================================-->
                    <form class="form-horizontal form-bordered">
                        <div class="form-group nb">
                            <label class="control-label col-md-1">To: </label>
                            <div class="col-md-11">
                                <ul id="jquery-tagIt-white">
                                </ul>
                            </div>
                        </div>
                        <div class="form-group nb">
                            <label class="control-label col-md-1">Subject: </label>
                            <div class="col-md-11">
                                <input type="text" class="form-control ">
                            </div>
                        </div>
                        <!--Summernote-->
                        <!--===================================================-->
                        <div id="demo-summernote"></div>
                        <!--===================================================-->
                        <!-- End Summernote -->
                        <div class="pad-top">
                            <button class="btn btn-info"><i class="fa fa-send"></i> Send </button>
                            <button class="btn btn-default"><i class="fa fa-save"></i> Draft </button>
                            <button class="btn btn-default"><i class="fa fa-remove"></i> Discard </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===================================================-->
<!--End page content-->