<header class="pageheader">
    <h3><i class="fa fa-home"></i> Buttons </h3>
    <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li> <a href="#"> Home </a> </li>
            <li class="active"> Buttons </li>
        </ol>
    </div>
</header>
<!--Page content-->
<!--===================================================-->
<div id="page-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">General button</h3>
                </div>
                <div class="panel-body style-senseui-btn">
                    <!--Basic Buttons-->
                    <!--===================================================-->
                    <button class="btn btn-default">Default</button>
                    <button class="btn btn-primary">Primary</button>
                    <button class="btn btn-info">Info</button>
                    <button class="btn btn-success">Success</button>
                    <button class="btn btn-mint">Mint</button>
                    <button class="btn btn-warning">Warning</button>
                    <button class="btn btn-danger">Danger</button>
                    <button class="btn btn-pink">Pink</button>
                    <button class="btn btn-purple">Purple</button>
                    <button class="btn btn-dark">Dark</button>
                    <!--===================================================-->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Rounded button</h3>
                </div>
                <div class="panel-body style-senseui-btn">
                    <!--Rounded Buttons-->
                    <!--===================================================-->
                    <button class="btn btn-default btn-rounded">Default</button>
                    <button class="btn btn-primary btn-rounded">Primary</button>
                    <button class="btn btn-info btn-rounded">Info</button>
                    <button class="btn btn-success btn-rounded">Success</button>
                    <button class="btn btn-mint btn-rounded">Mint</button>
                    <button class="btn btn-warning btn-rounded">Warning</button>
                    <button class="btn btn-danger btn-rounded">Danger</button>
                    <button class="btn btn-pink btn-rounded">Pink</button>
                    <button class="btn btn-purple btn-rounded">Purple</button>
                    <button class="btn btn-dark btn-rounded">Dark</button>
                    <!--===================================================-->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Block level buttons</h3>
                </div>
                <div class="panel-body style-senseui-btn">
                    <div class="form-group">
                        <div class="col-md-12">
                            <button class="btn btn-block btn-default">
                                                Block level button
                                                </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <button class="btn btn-block btn-info">
                                                Block level button
                                                </button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-block btn-warning">
                                                Block level button
                                                </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <button class="btn btn-block btn-success">
                                                Block level button
                                                </button>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-block btn-mint">
                                                Block level button
                                                </button>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-block btn-primary">
                                                Block level button
                                                </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <button class="btn btn-block btn-danger">
                                                Block level button
                                                </button>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-block btn-pink">
                                                Block level button
                                                </button>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-block btn-purple">
                                                Block level button
                                                </button>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-block btn-dark">
                                                Block level button
                                                </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Icon button</h3>
                </div>
                <div class="panel-body">
                    <!--Icon Buttons-->
                    <!--===================================================-->
                    <button class="btn btn-default btn-icon icon-lg fa fa-user"></button>
                    <button class="btn btn-primary btn-icon icon-lg fa fa-shopping-cart"></button>
                    <button class="btn btn-info btn-icon icon-lg fa fa-trash"></button>
                    <button class="btn btn-success btn-icon icon-lg fa fa-star"></button>
                    <button class="btn btn-mint btn-icon icon-lg fa fa-thumbs-up"></button>
                    <button class="btn btn-warning btn-icon icon-lg fa fa-exclamation-triangle"></button>
                    <button class="btn btn-danger btn-icon icon-lg fa fa-times"></button>
                    <button class="btn btn-pink btn-icon icon-lg fa fa-envelope"></button>
                    <button class="btn btn-purple btn-icon icon-lg fa fa-gift"></button>
                    <button class="btn btn-dark btn-icon icon-lg fa fa-unlock-alt"></button>
                    <!--===================================================-->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Circle Icon button</h3>
                </div>
                <div class="panel-body">
                    <!--Icon Buttons-->
                    <!--===================================================-->
                    <button class="btn btn-default btn-icon btn-circle icon-lg fa fa-user"></button>
                    <button class="btn btn-primary btn-icon btn-circle icon-lg fa fa-shopping-cart"></button>
                    <button class="btn btn-info btn-icon btn-circle icon-lg fa fa-trash"></button>
                    <button class="btn btn-success btn-icon btn-circle icon-lg fa fa-star"></button>
                    <button class="btn btn-mint btn-icon btn-circle icon-lg fa fa-thumbs-up"></button>
                    <button class="btn btn-warning btn-icon btn-circle icon-lg fa fa-exclamation-triangle"></button>
                    <button class="btn btn-danger btn-icon btn-circle icon-lg fa fa-times"></button>
                    <button class="btn btn-pink btn-icon btn-circle icon-lg fa fa-envelope"></button>
                    <button class="btn btn-purple btn-icon btn-circle icon-lg fa fa-gift"></button>
                    <button class="btn btn-dark btn-icon btn-circle icon-lg fa fa-unlock-alt"></button>
                    <!--===================================================-->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Disabed buttons</h3>
                </div>
                <div class="panel-body">
                    <!--Disabled Buttons-->
                    <!--===================================================-->
                    <button class="btn btn-default" disabled="disabled">Default</button>
                    <button class="btn btn-primary" disabled="disabled">Primary</button>
                    <button class="btn btn-info" disabled="disabled">Info</button>
                    <button class="btn btn-success" disabled="disabled">Success</button>
                    <button class="btn btn-mint" disabled="disabled">Mint</button>
                    <button class="btn btn-warning" disabled="disabled">Warning</button>
                    <button class="btn btn-danger" disabled="disabled">Danger</button>
                    <button class="btn btn-pink" disabled="disabled">Pink</button>
                    <button class="btn btn-purple" disabled="disabled">Purple</button>
                    <button class="btn btn-dark" disabled="disabled">Dark</button>
                    <!--===================================================-->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Buttons with label</h3>
                </div>
                <div class="panel-body">
                    <!--Buttons with label-->
                    <!--===================================================-->
                    <button class="btn btn-default btn-labeled fa fa-shopping-cart">Primary</button>
                    <button class="btn btn-primary btn-labeled fa fa-exclamation-triangle">Warning</button>
                    <button class="btn btn-info btn-rounded btn-labeled fa fa-gift">Purple</button>
                    <button class="btn btn-success btn-labeled fa fa-shopping-cart">Primary</button>
                    <button class="btn btn-mint btn-labeled fa fa-exclamation-triangle">Warning</button>
                    <button class="btn btn-warning btn-rounded btn-labeled fa fa-gift">Purple</button>
                    <button class="btn btn-danger btn-labeled fa fa-shopping-cart">Primary</button>
                    <button class="btn btn-pink btn-labeled fa fa-exclamation-triangle">Warning</button>
                    <button class="btn btn-purple btn-rounded btn-labeled fa fa-gift">Purple</button>
                    <button class="btn btn-dark btn-labeled fa fa-shopping-cart">Primary</button>
                    <!--===================================================-->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-lg-6">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Checkbox toggle Button</h3>
                </div>
                <div class="panel-body">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-danger">
                                               <input type="checkbox"> Checkbox 1
                                            </label>
                        <label class="btn btn-danger active">
                                               <input type="checkbox" checked> Checkbox 2 (pre-checked)
                                            </label>
                        <label class="btn btn-danger">
                                               <input type="checkbox"> Checkbox 3
                                            </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-6">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Radio toggle Button</h3>
                </div>
                <div class="panel-body">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-warning">
                                            <input type="radio" name="options" id="option1"> Radio 1
                                            </label>
                        <label class="btn btn-warning active">
                                            <input type="radio" name="options" id="option2" checked> Radio 2 (pre-checked)
                                            </label>
                        <label class="btn btn-warning">
                                            <input type="radio" name="options" id="option3"> Radio 3
                                            </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="eq-height">
            <div class="col-sm-6 col-lg-6 eq-box-lg">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Button Groups Toolbar & Dropdown</h3>
                    </div>
                    <div class="panel-body">
                        <p>Combine sets of <code>&lt;div class="btn-group"&gt;</code> into a <code>&lt;div class="btn-toolbar"&gt;</code> for more complex components.</p>
                        <!--Multiple Button Groups-->
                        <!--===================================================-->
                        <div class="btn-toolbar">
                            <div class="btn-group">
                                <button class="btn btn-default">1</button>
                                <button class="btn btn-default  btn-active-primary active">2</button>
                                <button class="btn btn-default">3</button>
                                <button class="btn btn-default">4</button>
                                <button class="btn btn-default">5</button>
                                <button class="btn btn-default">6</button>
                                <button class="btn btn-default">7</button>
                            </div>
                            <div class="btn-group">
                                <button class="btn btn-default">8</button>
                                <button class="btn btn-default">9</button>
                                <button class="btn btn-default">10</button>
                            </div>
                            <div class="btn-group">
                                <button class="btn btn-default">1</button>
                                <button class="btn btn-default">2</button>
                                <button class="btn btn-default  btn-active-primary active">3</button>
                                <button class="btn btn-default">4</button>
                            </div>
                        </div>
                        <!--===================================================-->
                        <h4>Nesting</h4>
                        <p>Place a <code>.btn-group</code> within another <code>.btn-group</code> when you want dropdown menus mixed with a series of buttons.</p>
                        <!--Nested Button Groups-->
                        <!--===================================================-->
                        <div class="btn-group">
                            <button class="btn btn-default">1</button>
                            <button class="btn btn-default">2</button>
                            <div class="btn-group">
                                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                    Dropdown
                                                    <i class="dropdown-caret fa fa-caret-down"></i>
                                                    </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                        </div>
                        <!--===================================================-->
                        <!--Nested Button Groups-->
                        <!--===================================================-->
                        <div class="btn-group">
                            <button class="btn btn-pink">1</button>
                            <button class="btn btn-pink">2</button>
                            <div class="btn-group">
                                <button class="btn btn-pink dropdown-toggle" data-toggle="dropdown">
                                                    Dropdown
                                                    <i class="dropdown-caret fa fa-caret-down"></i>
                                                    </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                        </div>
                        <!--===================================================-->
                        <!--Nested Button Groups-->
                        <!--===================================================-->
                        <div class="btn-group">
                            <button class="btn btn-info">1</button>
                            <button class="btn btn-info">2</button>
                            <div class="btn-group">
                                <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                                    Dropdown
                                                    <i class="dropdown-caret fa fa-caret-down"></i>
                                                    </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                        </div>
                        <!--===================================================-->
                        <h4>Justified button groups</h4>
                        <p>Place a <code>.btn-group</code> within another <code>.btn-group</code> when you want dropdown menus mixed with a series of buttons.</p>
                        <!--Justified Button Group-->
                        <!--===================================================-->
                        <div class="btn-group btn-group-justified" role="group">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-danger">Left</button>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-danger">Middle</button>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-danger">Right</button>
                            </div>
                        </div>
                        <!--===================================================-->
                        <br>
                        <!--Justified Button Group-->
                        <!--===================================================-->
                        <div class="btn-group btn-group-justified" role="group">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-primary">Left</button>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-primary">Middle</button>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-primary">Right</button>
                            </div>
                        </div>
                        <!--===================================================-->
                        <br>
                        <!--Justified Button Group-->
                        <!--===================================================-->
                        <div class="btn-group btn-group-justified" role="group">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-success">Left</button>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-success">Middle</button>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-success">Right</button>
                            </div>
                        </div>
                        <!--===================================================-->
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-6 eq-box-lg">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Button Group Width</h3>
                    </div>
                    <div class="panel-body">
                        <p>Instead of applying button sizing classes to every button in a group, just add <code>.btn-group-*</code> to the <code>.btn-group</code>.</p>
                        <p role="toolbar" class="btn-toolbar">
                            <!--Large Buttons Group-->
                            <!--===================================================-->
                            <div class="btn-group btn-group-lg">
                                <button class="btn btn-pink">Left</button>
                                <button class="btn btn-pink">Middle</button>
                                <button class="btn btn-pink">Right</button>
                            </div>
                            <!--===================================================-->
                            <p></p>
                            <p role="toolbar" class="btn-toolbar">
                                <!--Large Buttons Group-->
                                <!--===================================================-->
                                <div class="btn-group">
                                    <button class="btn btn-success">Left</button>
                                    <button class="btn btn-success">Middle</button>
                                    <button class="btn btn-success">Right</button>
                                </div>
                                <!--===================================================-->
                                <p></p>
                                <p role="toolbar" class="btn-toolbar">
                                    <!--Large Buttons Group-->
                                    <!--===================================================-->
                                    <div class="btn-group btn-group-sm">
                                        <button class="btn btn-primary">Left</button>
                                        <button class="btn btn-primary">Middle</button>
                                        <button class="btn btn-primary">Right</button>
                                    </div>
                                    <!--===================================================-->
                                    <p></p>
                                    <p role="toolbar" class="btn-toolbar">
                                        <!--Large Buttons Group-->
                                        <!--===================================================-->
                                        <div class="btn-group btn-group-xs">
                                            <button class="btn btn-info">Left</button>
                                            <button class="btn btn-info">Middle</button>
                                            <button class="btn btn-info">Right</button>
                                        </div>
                                        <!--===================================================-->
                                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="eq-height">
            <div class="col-lg-6 eq-box-lg">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Dropdowns</h3>
                    </div>
                    <div class="panel-body">
                        <div class="pad-ver mar-btm style-senseui-btn-group">
                            <!--Large Dropdown button-->
                            <!--===================================================-->
                            <div class="btn-group btn-group-lg">
                                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
                                                    Dropdown <i class="dropdown-caret fa fa-chevron-down"></i>
                                                    </button>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-header">Dropdown header</li>
                                    <li><a href="#">Action</a>
                                    </li>
                                    <li><a href="#">Another action</a>
                                    </li>
                                    <li><a href="#">Something else here</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="dropdown-header">Dropdown header</li>
                                    <li><a href="#">Separated link</a>
                                    </li>
                                </ul>
                            </div>
                            <!--===================================================-->
                            <!--Default Dropdown button-->
                            <!--===================================================-->
                            <div class="btn-group">
                                <button class="btn btn-success dropdown-toggle" data-toggle="dropdown" type="button">
                                                    Dropdown <i class="dropdown-caret fa fa-caret-down"></i>
                                                    </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li class="dropdown-header">Dropdown header</li>
                                    <li><a href="#">Action</a>
                                    </li>
                                    <li><a href="#">Another action</a>
                                    </li>
                                    <li><a href="#">Something else here</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="dropdown-header">Dropdown header</li>
                                    <li><a href="#">Separated link</a>
                                    </li>
                                </ul>
                            </div>
                            <!--===================================================-->
                            <!--Small Dropdown Button-->
                            <!--===================================================-->
                            <div class="btn-group btn-group-sm">
                                <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown" type="button">
                                                    Dropdown <i class="dropdown-caret fa fa-caret-down"></i>
                                                    </button>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-header">Dropdown header</li>
                                    <li><a href="#">Action</a>
                                    </li>
                                    <li><a href="#">Another action</a>
                                    </li>
                                    <li><a href="#">Something else here</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="dropdown-header">Dropdown header</li>
                                    <li><a href="#">Separated link</a>
                                    </li>
                                </ul>
                            </div>
                            <!--===================================================-->
                        </div>
                        <h4 class="text-thin">Menu alignment</h4>
                        <hr>
                        <div class="pad-ver style-senseui-btn-group">
                            <!--Menu Aligned to left-->
                            <!--===================================================-->
                            <div class="btn-group">
                                <button class="btn btn-default dropdown-toggle dropdown-toggle-icon" data-toggle="dropdown" type="button">
                                                    Left <i class="dropdown-caret fa fa-caret-down"></i>
                                                    </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a>
                                    </li>
                                    <li><a href="#">Another action</a>
                                    </li>
                                    <li><a href="#">Something else here</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a>
                                    </li>
                                </ul>
                            </div>
                            <!--===================================================-->
                            <!--Dropdup-->
                            <!--===================================================-->
                            <div class="btn-group dropup">
                                <button class="btn btn-default dropdown-toggle dropdown-toggle-icon" data-toggle="dropdown" type="button">
                                                    Dropup <i class="dropdown-caret fa fa-caret-up"></i>
                                                    </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a>
                                    </li>
                                    <li><a href="#">Another action</a>
                                    </li>
                                    <li><a href="#">Something else here</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a>
                                    </li>
                                </ul>
                            </div>
                            <!--===================================================-->
                            <!--Dropdown menu aligned to right-->
                            <!--===================================================-->
                            <div class="btn-group">
                                <button class="btn btn-default dropdown-toggle dropdown-toggle-icon" data-toggle="dropdown" type="button">
                                                    Right <i class="dropdown-caret fa fa-caret-down"></i>
                                                    </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">Action</a>
                                    </li>
                                    <li><a href="#">Another action</a>
                                    </li>
                                    <li><a href="#">Something else here</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a>
                                    </li>
                                </ul>
                            </div>
                            <!--===================================================-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 eq-box-lg">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Split button dropdowns & variation</h3>
                    </div>
                    <div class="panel-body">
                        <div class="pad-ver style-senseui-btn-group">
                            <!--Split Buttons Dropdown-->
                            <!--===================================================-->
                            <div class="btn-group">
                                <button class="btn btn-default">Action</button>
                                <button class="btn btn-default dropdown-toggle dropdown-toggle-icon" data-toggle="dropdown" type="button">
                                                    <i class="dropdown-caret fa fa-caret-down"></i>
                                                    </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a>
                                    </li>
                                    <li><a href="#">Another action</a>
                                    </li>
                                    <li><a href="#">Something else here</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a>
                                    </li>
                                </ul>
                            </div>
                            <!--===================================================-->
                            <!--Split Buttons Dropdown-->
                            <!--===================================================-->
                            <div class="btn-group">
                                <button class="btn btn-success">Action</button>
                                <button class="btn btn-success dropdown-toggle dropdown-toggle-icon" data-toggle="dropdown" type="button">
                                                    <i class="dropdown-caret fa fa-caret-down"></i>
                                                    </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a>
                                    </li>
                                    <li><a href="#">Another action</a>
                                    </li>
                                    <li><a href="#">Something else here</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a>
                                    </li>
                                </ul>
                            </div>
                            <!--===================================================-->
                            <!--Split Buttons Dropdown-->
                            <!--===================================================-->
                            <div class="btn-group">
                                <button class="btn btn-danger">Action</button>
                                <button class="btn btn-danger dropdown-toggle dropdown-toggle-icon" data-toggle="dropdown" type="button">
                                                    <i class="dropdown-caret fa fa-caret-down"></i>
                                                    </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a>
                                    </li>
                                    <li><a href="#">Another action</a>
                                    </li>
                                    <li><a href="#">Something else here</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a>
                                    </li>
                                </ul>
                            </div>
                            <!--===================================================-->
                            <!--Split Buttons Dropdown-->
                            <!--===================================================-->
                            <div class="btn-group">
                                <button class="btn btn-info">Action</button>
                                <button class="btn btn-info dropdown-toggle dropdown-toggle-icon" data-toggle="dropdown" type="button">
                                                    <i class="dropdown-caret fa fa-caret-down"></i>
                                                    </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a>
                                    </li>
                                    <li><a href="#">Another action</a>
                                    </li>
                                    <li><a href="#">Something else here</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a>
                                    </li>
                                </ul>
                            </div>
                            <!--===================================================-->
                            <!--Split Buttons Dropdown-->
                            <!--===================================================-->
                            <div class="btn-group">
                                <button class="btn btn-pink">Action</button>
                                <button class="btn btn-pink dropdown-toggle dropdown-toggle-icon" data-toggle="dropdown" type="button">
                                                    <i class="dropdown-caret fa fa-caret-down"></i>
                                                    </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a>
                                    </li>
                                    <li><a href="#">Another action</a>
                                    </li>
                                    <li><a href="#">Something else here</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a>
                                    </li>
                                </ul>
                            </div>
                            <!--===================================================-->
                        </div>
                        <div class="pad-ver style-senseui-btn-group">
                            <!--Split Buttons Dropdown-->
                            <!--===================================================-->
                            <div class="btn-group dropup">
                                <button class="btn btn-default">Action</button>
                                <button class="btn btn-default dropdown-toggle dropdown-toggle-icon" data-toggle="dropdown" type="button">
                                                    <i class="dropdown-caret fa fa-caret-up"></i>
                                                    </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a>
                                    </li>
                                    <li><a href="#">Another action</a>
                                    </li>
                                    <li><a href="#">Something else here</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a>
                                    </li>
                                </ul>
                            </div>
                            <!--===================================================-->
                            <!--Split Buttons Dropdown-->
                            <!--===================================================-->
                            <div class="btn-group dropup">
                                <button class="btn btn-success">Action</button>
                                <button class="btn btn-success dropdown-toggle dropdown-toggle-icon" data-toggle="dropdown" type="button">
                                                    <i class="dropdown-caret fa fa-caret-up"></i>
                                                    </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a>
                                    </li>
                                    <li><a href="#">Another action</a>
                                    </li>
                                    <li><a href="#">Something else here</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a>
                                    </li>
                                </ul>
                            </div>
                            <!--===================================================-->
                            <!--Split Buttons Dropdown-->
                            <!--===================================================-->
                            <div class="btn-group dropup">
                                <button class="btn btn-danger">Action</button>
                                <button class="btn btn-danger dropdown-toggle dropdown-toggle-icon" data-toggle="dropdown" type="button">
                                                    <i class="dropdown-caret fa fa-caret-up"></i>
                                                    </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a>
                                    </li>
                                    <li><a href="#">Another action</a>
                                    </li>
                                    <li><a href="#">Something else here</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a>
                                    </li>
                                </ul>
                            </div>
                            <!--===================================================-->
                            <!--Split Buttons Dropdown-->
                            <!--===================================================-->
                            <div class="btn-group dropup">
                                <button class="btn btn-info">Action</button>
                                <button class="btn btn-info dropdown-toggle dropdown-toggle-icon" data-toggle="dropdown" type="button">
                                                    <i class="dropdown-caret fa fa-caret-up"></i>
                                                    </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a>
                                    </li>
                                    <li><a href="#">Another action</a>
                                    </li>
                                    <li><a href="#">Something else here</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a>
                                    </li>
                                </ul>
                            </div>
                            <!--===================================================-->
                            <!--Split Buttons Dropdown-->
                            <!--===================================================-->
                            <div class="btn-group dropup">
                                <button class="btn btn-pink">Action</button>
                                <button class="btn btn-pink dropdown-toggle dropdown-toggle-icon" data-toggle="dropdown" type="button">
                                                    <i class="dropdown-caret fa fa-caret-up"></i>
                                                    </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a>
                                    </li>
                                    <li><a href="#">Another action</a>
                                    </li>
                                    <li><a href="#">Something else here</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a>
                                    </li>
                                </ul>
                            </div>
                            <!--===================================================-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===================================================-->
<!--End page content-->