<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div class="pageheader">
    <h3><i class="fa fa-home"></i> Blank Page </h3>
    <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li> <a href="#"> Home </a> </li>
            <li class="active"> Blank Page </li>
        </ol>
    </div>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->
<!--Page content-->
<!--===================================================-->
<div id="page-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Product Order</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-hover table-vcenter">
                        <thead>
                            <tr>
                                <th>Invoice</th>
                                <th>Name</th>
                                <th class="text-center">Value</th>
                                <th class="hidden-xs">Delivery date</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Order #53451</td>
                                <td>
                                    <span class="text-semibold">Desktop</span>
                                    <br>
                                    <small class="text-muted">Last 7 days : 4,234k</small>
                                </td>
                                <td class="text-center">$250</td>
                                <td class="hidden-xs">2012/04/25</td>
                                <td>
                                    <div class="label label-table label-info">On Process</div>
                                </td>
                            </tr>
                            <tr>
                                <td>Order #53452</td>
                                <td>
                                    <span class="text-semibold">Laptop</span>
                                    <br>
                                    <small class="text-muted">Last 7 days : 3,876k</small>
                                </td>
                                <td class="text-center">$350</td>
                                <td class="hidden-xs">2012/04/25</td>
                                <td>
                                    <div class="label label-table label-danger">Cancelled</div>
                                </td>
                            </tr>
                            <tr>
                                <td>Order #53453</td>
                                <td>
                                    <span class="text-semibold">Tablet</span>
                                    <br>
                                    <small class="text-muted">Last 7 days : 45,678k</small>
                                </td>
                                <td class="text-center">$325</td>
                                <td class="hidden-xs">2012/04/25</td>
                                <td>
                                    <div class="label label-table label-success">Shipped</div>
                                </td>
                            </tr>
                            <tr>
                                <td>Order #53454</td>
                                <td>
                                    <span class="text-semibold">Smartphone</span>
                                    <br>
                                    <small class="text-muted">Last 7 days : 34,553k</small>
                                </td>
                                <td class="text-center">$250</td>
                                <td class="hidden-xs">2012/04/25</td>
                                <td>
                                    <div class="label label-table label-warning">Pending</div>
                                </td>
                            </tr>
                            <tr>
                                <td>Order #53455</td>
                                <td>
                                    <span class="text-semibold">Smartphone</span>
                                    <br>
                                    <small class="text-muted">Last 7 days : 34,553k</small>
                                </td>
                                <td class="text-center">$250</td>
                                <td class="hidden-xs">2012/04/25</td>
                                <td>
                                    <div class="label label-table label-primary">On Hold</div>
                                </td>
                            </tr>
                            <tr>
                                <td>Order #53456</td>
                                <td>
                                    <span class="text-semibold">Smartphone</span>
                                    <br>
                                    <small class="text-muted">Last 7 days : 34,553k</small>
                                </td>
                                <td class="text-center">$250</td>
                                <td class="hidden-xs">2012/04/25</td>
                                <td>
                                    <div class="label label-table label-warning">Pending</div>
                                </td>
                            </tr>
                            <tr>
                                <td>Order #53457</td>
                                <td>
                                    <span class="text-semibold">Smartphone</span>
                                    <br>
                                    <small class="text-muted">Last 7 days : 34,553k</small>
                                </td>
                                <td class="text-center">$250</td>
                                <td class="hidden-xs">2012/04/25</td>
                                <td>
                                    <div class="label label-table label-danger">Cancelled</div>
                                </td>
                            </tr>
                            <tr>
                                <td>Order #53458</td>
                                <td>
                                    <span class="text-semibold">Smartphone</span>
                                    <br>
                                    <small class="text-muted">Last 7 days : 34,553k</small>
                                </td>
                                <td class="text-center">$250</td>
                                <td class="hidden-xs">2012/04/25</td>
                                <td>
                                    <div class="label label-table label-info">On Process</div>
                                </td>
                            </tr>
                            <tr>
                                <td>Order #53459</td>
                                <td>
                                    <span class="text-semibold">Smartphone</span>
                                    <br>
                                    <small class="text-muted">Last 7 days : 34,553k</small>
                                </td>
                                <td class="text-center">$250</td>
                                <td class="hidden-xs">2012/04/25</td>
                                <td>
                                    <div class="label label-table label-success">Shipped</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
<!--===================================================-->
<!--End page content-->